<div class="sidebar">
    <nav>
      <ul>
        <li><a routerLink="/inico/consulta" routerLinkActive= "active">Consultas</a></li>
        <li><a routerLink="/inico/episodis" routerLinkActive= "active">Episodos médicos</a></li>
        <li><a routerLink="/inico/habitaciones" routerLinkActive= "active">Habitaciones</a></li>
        <li><a routerLink="/inico/ingres" routerLinkActive= "active">Ingresos</a></li>
        <li><a routerLink="/inico/camas" routerLinkActive= "active">Camas</a></li>
        <li><a routerLink="/inico/pacientes" routerLinkActive= "active">Pacientes</a></li>
        <li><a routerLink="/inico/metge" routerLinkActive= "active">Personal</a></li>        
        <li><a routerLink="/inico/planta" routerLinkActive= "active">Plantas</a></li>

      </ul>
    </nav>
  </div>
