<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page VitalTech</title>
    <link href="./login.component.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class = "hhh">
            <nav class = "contenedor">
                <span id="noCuenta">¿No tienes una cuenta?</span>
                <div class="registrer-item"><a href="#registro">Regístrate</a></div>
            </nav>
    </div>

        <div class = "titulo">
            <span id ="hos">HOSPITAL</span>
            <div id ="mar">Maricarmen</div>
        </div>
</body>
</html>
