<div class="container">
    <h2>Formulario de modificación de episodio médico</h2>
    
    <form type="submit" [formGroup]="modifEpisodiForm" (ngSubmit)="onUpdate()">

        <div class="grid-container">

        <div>
          <label for="id">ID: </label>
          <input type="text" id="id" ngModel name="id" formControlName="id" required>
        </div>

        <div>
          <label for="dolencia">Dolencia: </label>
          <input type="text" id="dolencia" ngModel name="dolencia" formControlName="dolencia" required>
        </div>

        <div>
          <label for="estat">Estado: </label>
          <input type="text" id="estat" ngModel name="estat" formControlName="estat" required>
        </div>

        <div>
          <label for="pacientId">DNI del paciente: </label>
          <input type="text" id="pacientId" ngModel name="pacientId" formControlName="pacientId" required>
        </div>

        <div>
          <label for="pacientId">Fecha de apertura: </label>
          <input type="date" id="pacientId" ngModel name="pacientId" formControlName="pacientId" required>
        </div>
        
        <div>
          <label for="pacientId">Fecha de cierre: </label>
          <input type="date" id="pacientId" ngModel name="pacientId" formControlName="pacientId" required>
        </div>

      </div>
        
        <button type="submit">Modificar</button>
    </form>
</div>
