<div class="container">
    <h2>Formulario de modificación de episodio médico</h2>
    
    <form type="submit" [formGroup]="modifEpisodiForm" (ngSubmit)="onUpdate()">
      <div>

        <div class="box1">
          <label for="id">ID: </label>
          <input type="text" id="id" ngModel name="id" formControlName="id" required>
      
            <label for="dolencia">Dolencia: </label>
            <input type="text" id="dolencia" ngModel name="dolencia" formControlName="dolencia" required>
         
          <label for="estat">Estado: </label>
          <input type="text" id="estat" ngModel name="estat" formControlName="estat" required>
        </div>

        <div class="box2">
          <label for="pacientId">DNI del paciente: </label>
          <input type="text" id="pacientId" ngModel name="pacientId" formControlName="pacientId" required>
        
          <label for="dataObertura">Fecha de apertura: </label>
          <input type="text" id="dataObertura" ngModel name="dataObertura" formControlName="dataObertura" required>
       
          <label for="DataTancament">Fecha de cierre: </label>
          <input type="text" id="DataTancament" ngModel name="dataTancament" formControlName="dataTancament" required>
        </div>


      </div>
        
        <button type="submit">Modificar</button>
    </form>
</div>
