
<div class="dashboard-layout">
  <aside class="sidebar">
    <ul>
      <li><a [routerLink]="['/inicio/medico']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" title="Página de inicio del médico">Inicio</a></li>
      <li><a [routerLink]="['/inicio/medico/buscar-paciente']" routerLinkActive="active" title="Buscar pacientes en el sistema">Buscar Paciente</a></li>
      <li><a [routerLink]="['/inicio/medico/consultas-programadas']" routerLinkActive="active" title="Ver las consultas asignadas al médico">Consultas Programadas</a></li>
      <li><a [routerLink]="['/inicio/medico/ingresos-administrar']" routerLinkActive="active" title="Ver pacientes ingresados">Pacientes ingresados</a></li>
    </ul>
  </aside>
</div>
