<div class="login-container">
    <div class="login-box">
        <div class="logo">
            <img src="assets/algo.png" alt="Hospital Logo">
            <div class="hospital-name">
                <span>HOSPITAL</span>
                <span>Maricarmen</span>
            </div>
        </div>
        <form>
            <label for="username">Usuario</label>
            <input type="text" id="username" name="username">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password">
            <div class="caption-login">
                <div class="forgot-password">
                    <a href="#">¿Contraseña olvidada?</a>
                </div>
                <div class="remember-me">
                    <input type="checkbox" id="remember" name="remember">
                    <label for="remember">Remember me?</label>
                </div>
            </div>
            <button type="submit">LOGIN</button>
        </form>
        <div class="register">
            <span>No tienes una cuenta?</span>
            <a href="#"> Regístrate</a>
        </div>
    </div>
</div>
