body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #F4F4F4;
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box {
    background-color: #C0E7E7;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.logo img {
    width: 70px; /* Aumenta el tamaño del logo */
    height: 70px;
    margin-right: 1rem;
}

.hospital-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hospital-name span {
    font-size: 1.2rem;
    color: #ffffff;
}

.hospital-name span:first-child {
    font-weight: bold;
    font-size: 1.5rem;
}

.hospital-name span:last-child {
    color: #0fc0c0;
    font-family: Georgia, serif;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    align-self: flex-start;
    margin: 0.5rem 0 0.2rem 0;
    color: #ffffff;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 0.8rem; /* Reducir el tamaño de la fuente */
}

.remember-me {
    display: flex;
    align-items: center;
    margin-top: 13px;
}

.remember-me input {
    margin-right: 0.5rem;
}

.remember-me label {
    color: #ffffff;
}

.forgot-password a {
    color: #23ab92;
    text-decoration: none;
    font-size: 0.8rem; /* Reducir el tamaño de la fuente */
    margin-left: 45px;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 0.5rem;
    background-color: #67A7A7;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #558787;
}

.register {
    margin-top: 1rem;
    color: #ffffff;
}
.register span {
    font-size: 13px;
}

.register a {
    color: #23ab92;
    text-decoration: none;
    font-weight: bold;
}

.caption-login {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}