table {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 50px;
  border-collapse: collapse;
  font-size: 14px;
  table-layout: auto;
}

#tableContainer {
  width: 80%;
  margin-left: 250px;
}

h2{
  text-align: center;
  margin-top: 100px;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}

button {
  font-size: 12px;
}
