<div class="dashboard-layout">
  <aside class="sidebar">
    <ul>
      <li>
        <a
          [routerLink]="['/inicio/administrador-sistema/camas']"
          routerLinkActive="active"
          >Camas</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/inicio/administrador-sistema/pruebas']"
          routerLinkActive="active"
          >Pruebas Diagnosticas</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/inicio/administrador-sistema/episodis-medics-prueba']"
          routerLinkActive="active"
          >Episodis Prueba</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/inicio/administrador-sistema/habitaciones']"
          routerLinkActive="active"
          >Habitaciones</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/inicio/administrador-sistema/ingresos']"
          routerLinkActive="active"
          >Ingresos</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/inicio/administrador-sistema/usuarios']"
          routerLinkActive="active"
          >Usuarios</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/inicio/administrador-sistema/pacientes']"
          routerLinkActive="active"
          >Pacientes</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/inicio/administrador-sistema/planta']"
          routerLinkActive="active"
          >Plantes</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/inicio/administrador-sistema/metges']"
          routerLinkActive="active"
          >Medicos</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/inicio/administrador-sistema/enfermers']"
          routerLinkActive="active"
          >Enfermeros</a
        >
      </li>
      <li>
        <a
          [routerLink]="[
            '/inicio/administrador-sistema/administradores-sistema'
          ]"
          routerLinkActive="active"
          >Administradores de sistema</a
        >
      </li>
    </ul>
  </aside>
</div>
