<div class="container">
    <h2>Formulario de Registro</h2>
    <form type="submit">
        <div class= "identificador">
            <div class = "capzalera1">
                <label for="name">Nombre:</label>
                <input type="text" id="name" ngModel name="name" required>
            </div>

            <div class = "capzalera2">
                <label for="lastName1">Pr. apellido:</label>
                <input type="text" id="lastName1"  ngModel name="lastName1" required>
            </div>

            <div class="capzalera3">
                <label for="lastName2">Sg. apellido:</label>
                <input type="text" id="lastName2" ngModel name="lastName2">

            </div>
            <div class = "capzalera4">
                <label for="dni">DNI:</label> 
                <input type="text" id="dni" ngModel name="dni" required>
            </div>
        </div>
        <div class = "ubicacion">
            <div class = "capzalera1">
                <label for="date">Fecha de nacimiento:</label>
                <input type="text" id="date" ngModel name="date" required>
            </div>
            <div class = "capzalera2">
                <label for="direccion">Dirección:</label>
                <input type="text" id="direccion" ngModel name="direccion" required>
            </div>
            <div class="capzalera3">
                <label for="codigoPostal">Código postal:</label>
                <input type="text" id="codigoPostal" ngModel name="codigoPostal" required>
            </div>

        </div>
        <div class = "comunicarse">
            <div class = "capzalera1">
                <label for="sexo">Sexo:</label>
                <select id="selecionSexe" ngModel name="selecionSexe">
                    <option value="bed1">Femenino</option>
                    <option value="bed2">Masculino</option>
                </select>
            </div>
                
            <div class = "capzalera2">
                <label for="telf">Télefono:</label>
                <input type="text" id="telf" ngModel name="telf" required>

            </div>
            <div class="capzalera3">
                <label for="email">Correo Electrónico:</label>
                <input type="text" id="email" ngModel name="email" required>
            </div>
        </div>
        <div class = "masInfo">
            <div class="capzalera1">
                <label for="SS">Número de la SS:</label>
                <input type="text" id="SS" ngModel name="SS" required>
            </div>
        </div>
        <div class="consulta">
            <div class="capzalera1">
                <label for="consulta">Consulta médica:</label>
                <textarea id="consulta" ngModel name="consulta" class="textarea-doble-linea" rows="2" required></textarea>
            </div>
        </div>
        <button type="submit">Registrar</button>
    </form>
</div>