<app-nav></app-nav>

<div class="container">
    <h2>Formulario de registro de plantas</h2>
    <form type="submit" [formGroup]="plantaForm" (ngSubmit)="onSubmit()">
        <div class= "identificador">
            <div class = "capzalera4">
                <label for="capacitatHabitacions">Capacidad:</label> 
                <input type="number" id="capacitatHabitacions" name="capacitatHabitacions" formControlName="capacitatHabitacions" 
                [ngClass]="{'is-invalid': plantaForm.get('capacitatHabitacions')?.touched && plantaForm.get('capacitatHabitacions')?.invalid}">
                <div class ="error-messages" *ngIf="plantaForm.get('capacitatHabitacions')?.touched && plantaForm.get('capacitatHabitacions')?.invalid">
                    <small *ngIf="plantaForm.get('capacitatHabitacions')?.hasError('pattern')">Máximo 70 habitaciones por planta</small>
                </div>
            </div>
        </div>
        <button type="submit">Registrar nueva planta</button>
    </form>
</div>

