<app-nav></app-nav>

<div class="container">
    <h2>Formulario de registro de plantas</h2>
    <form type="submit" [formGroup]="plantaForm" (ngSubmit)="onSubmit()">
        <div class= "identificador">
            <div class = "capzalera4">
                <label for="piso">Nº planta:</label> 
                <input type="number" id="piso" name="piso" formControlName="piso" >
               
            </div>
            <div class = "capzalera4">
                <label for="capacitatHabitacions">Capacidad:</label> 
                <input type="number" id="capacitatHabitacions" name="capacitatHabitacions" formControlName="capacitatHabitacions" 
                [ngClass]="{'is-invalid': plantaForm.get('capacitatHabitacions')?.touched && plantaForm.get('capacitatHabitacions')?.invalid}">
                <div class ="error-messages" *ngIf="plantaForm.get('capacitatHabitacions')?.touched && plantaForm.get('capacitatHabitacions')?.invalid">
                    <small *ngIf="plantaForm.get('capacitatHabitacions')?.hasError('pattern')">Máximo 70 habitaciones por planta</small>
                </div>
            </div>
        </div>
        <div class="botoneh" style="display: flex; gap: 10px; justify-content: center; margin-top: 100px;">
            <button type="submit" style="margin: 0;">Registrar nueva planta</button>
            <button class="atras" (click)="onAtras()" style="margin: 0;">Volver a plantas</button>
        </div>
    </form>
</div>

