
<div class= "contendor">
    <div class="search-container">
        <div class="lala">
            <form id="searchForm">
                <div class="searchCriteriaContainer">
                    <label for="searchCriteria">Buscar por:</label>
                </div>
                <div class="searchCriteriaItemContainer">
                    <select name="searchCriteria" id="searchCriteria" [(ngModel)]="searchCriteria">
                        <option value="idConsulta">Consulta</option>
                        <option value="urgencia">Urgencia</option>
                        <option value="sintomatologia">Sintomatología</option>
                        <option value="receta">Receta</option>
                        <option value="dni">DNI personal</option>
                        <option value="episodio">Epsiodio médico</option>
                    </select>
                    <input type="text"  id="searchId" [(ngModel)]="searchInput" name="searchId" placeholder="Ingresa la búsqueda" required>
                    <button type="submit" id="buscar" (click)="searchConsulta()">Buscar</button>
                </div>
            </form>
        </div>
        <div class="registro">
            <button id="registrarse"><a routerLink="/registro-consulta"> + Registrar consulta</a></button>
        </div>
    </div>
    
</div>
<div class ="texto">
    <p>Lista de consultas</p>
</div>
<div class="table-container">
    <div class="cosas">
        <table id="resultsTable">
            <thead>
                <tr>
                    <th>Id consulta</th>
                    <th>Urgencia</th>
                    <th>Sintomatología</th>
                    <th>Receta</th>
                    <th>DNI personal</th>
                    <th>ID episodio médico</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let consulta of pagedConsultes">
                    <td>{{ consulta.id }}</td>
                    <td>{{ consulta.urgencia }}</td>
                    <td>{{ consulta.sintomatologia }}</td>  
                    <td>{{ consulta.recepta }}</td>
                    <td>{{ consulta.personalId }}</td>
                    <td>{{ consulta.episodiMedicId }}</td>
                    <div class="botones">
                        <button class= "ico" (click)="modificarConsulta(consulta.id)" id = "modificar">🔄</button>
                        <button class= "ico" (click)="deleteConsulta(consulta.id)" id = "eliminar">❎</button>
                    </div>
                  </tr>
                  
            </tbody>
        </table>
        
    </div>
    
    <div class="pagination">
        <button id="firstPage" (click)="firstPage()" [disabled]="currentPage ===1">&lt;&lt;</button>
        <button id="prevPage" (click)="previousPage()" [disabled]="currentPage ===1">Anterior</button>
        <span id="pageInfo">Página {{ currentPage }} de {{ totalPages }}</span>
        <button id="nextPage" (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
        <button id="lastPage" (click)="lastPage()" [disabled]="currentPage ===totalPages">&gt;&gt;</button>
    </div>
</div>


