
<div class= "contendor">
    <div class="search-container">
        <div class="lala">
            <form id="searchForm">
                <div class="searchCriteriaContainer">
                    <label for="searchCriteria">Buscar por:</label>
                </div>
                <div class="searchCriteriaItemContainer">
                    <input type="number"  id="searchId" [(ngModel)]="searchId" name="searchId" placeholder="Ingresa la busqueda..." required>
                    <button type="button" (click)="searchConsulta()">Buscar</button>
                </div>
            </form>
        </div>
        <div class="registro">
            <button id="registrarse"><a routerLink="/registro-consulta"> + Crear Consulta</a></button>
        </div>
    </div>
    
</div>
<div class ="texto">
    <p>Llista de Consultes</p>
</div>
<div class="table-container">
    <div class="cosas">
        <table id="resultsTable">
            <thead>
                <tr>
                    <th>Id Consulta</th>
                    <th>Urgencia</th>
                    <th>Sintomatologia</th>
                    <th>Recepta</th>
                    <th>DNI Personal</th>
                    <th>ID Episodi Medic</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let consulta of pagedConsultes">
                    <td>{{ consulta.id }}</td>
                    <td>{{ consulta.urgencia }}</td>
                    <td>{{ consulta.sintomatologia }}</td>  
                    <td>{{ consulta.recepta }}</td>
                    <td>{{ consulta.personalId }}</td>
                    <td>{{ consulta.episodiMedicId }}</td>
                    <div class="botones">
                        <button class= "ico" (click)="modificarConsulta(consulta.id)" id = "modificar">🔄</button>
                        <button class= "ico" (click)="deleteConsulta(consulta.id)" id = "eliminar">❎</button>
                    </div>
                  </tr>
                  
            </tbody>
        </table>
        
    </div>
    
    <div class="pagination">
        <button id="prevPage" (click)="previousPage()" [disabled]="currentPage ===1">Anterior</button>
        <span id="pageInfo">Página {{ currentPage }} de {{ totalPages }}</span>
        <button id="nextPage" (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
    </div>
</div>


