<div class="sidebar">
    <nav>
      <ul>
        <li><a routerLink="/camas" routerLinkActive= "active">Camas</a></li>
        <li><a routerLink="/consultes" routerLinkActive= "active">Consultes</a></li>
        <li><a routerLink="/episodis" routerLinkActive= "active">Episodis Medics</a></li>
        <li><a routerLink="/habitaciones" routerLinkActive= "active">Habitaciones</a></li>
        <li><a routerLink="/ingres" routerLinkActive= "active">Ingressos</a></li>
        <li><a routerLink="/pacientes" routerLinkActive= "active">Pacientes</a></li>
        <li><a routerLink="/metge" routerLinkActive= "active">Personal</a></li>
        
        


      </ul>
    </nav>
  </div>
