<h2 matDialogTitle>
  {{ !editar ? 'Detalles Habitación' : 'Actualizar Habitación' }}
</h2>
<mat-dialog-content>
  <form (ngSubmit)="guardar()" [formGroup]="habForm">
    <br />
    <mat-form-field appearance="outline">
      <mat-label>Número de habitación</mat-label>
      <input
        matInput
        formControlName="codiHabitacio"
        required
        [disabled]="isReadOnly"
      />
      <mat-error *ngIf="habForm.get('codiHabitacio')?.hasError('required')"
        >Campo obligatorio</mat-error
      >
      <mat-error *ngIf="habForm.get('codiHabitacio')?.hasError('pattern')"
        >Debe ser un código de 3 números</mat-error
      >
      <mat-error *ngIf="habForm.hasError('pisoCodigoMismatch')"
        >El primer número del código de habitación debe coincidir con el piso
        seleccionado</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Capacidad de camas</mat-label>
      <input
        matInput
        formControlName="capacitatLlits"
        required
        [disabled]="isReadOnly"
      />
      <mat-error *ngIf="habForm.get('capacitatLlits')?.hasError('required')"
        >Campo obligatorio</mat-error
      >
      <mat-error *ngIf="habForm.get('capacitatLlits')?.hasError('pattern')"
        >Solo hay capacidad para dos camas</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Seleccionar Planta</mat-label>
      <mat-select formControlName="plantaId" required [disabled]="isReadOnly">
        <mat-option *ngFor="let planta of plantas" [value]="planta.piso">
          {{ planta.piso }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="habForm.get('plantaId')?.hasError('required')"
        >Selecciona una habitación</mat-error
      >
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button *ngIf="!editar" (click)="enableEditing()">Editar</button>
  <button
    mat-raised-button
    color="primary"
    *ngIf="editar"
    [disabled]="habForm.invalid"
    (click)="guardar()"
  >
    Guardar
  </button>
  <button mat-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
