<app-nav></app-nav>

<div class="container">
    <h2>Formulario de registro de camas</h2>
    <form type="submit" [formGroup]="llitForm" (ngSubmit)="onSubmit()">
        <div class= "identificador">
            <div class = "capzalera4">
                <label for="codiLlit">ID de cama:</label> 
                <input type="text" id="codiLlit" name="codiLlit" formControlName="codiLlit" required
                [ngClass]="{'is-invalid': llitForm.get('codiLlit')?.touched && llitForm.get('codiLlit')?.invalid || 
                llitForm.hasError('codiLlitHabitacioMismatch')}">
                <div class="error-messages" *ngIf="llitForm.get('codiLlit')?.touched  && llitForm.get('codiLlit')?.invalid">
                    <small *ngIf="llitForm.get('codiLlit')?.hasError('required')">Este campo es obligatorio</small>
                    <small *ngIf="llitForm.get('codiLlit')?.hasError('minlength')">Mínimo 4 carácteres</small>
                    <small *ngIf="llitForm.get('codiLlit')?.hasError('pattern')">Construido por 3 núm y A o B</small>
                    <small *ngIf="llitForm.get('codiLlit')?.hasError('camaIdExists')">El ID ya existe</small>
                </div>
            </div>         
            <!-- <div class = "capzalera1">
                <label for="ocupat">Disponible:</label>
                <select id="ocupat" name="ocupat" formControlName="ocupat">
                    <option [value]="true">Sí</option>
                    <option [value]="false">No</option>
                </select>
            </div> -->
            <div class = "capzalera2">
                <label for="foraDeServei">Fuera de servicio:</label>
                <select id="foraDeServei" ngModel name="ForaDeServei" formControlName="foraDeServei">
                    <option [value]="true">Sí</option>
                    <option [value]="false">No</option>
                </select>
            </div>
            <div class = "masInfo">
                <div class="capzalera1">
                    <label for="habitacioId">ID habitación:</label>
                    <input type="number" id="habitacioId" ngModel name="habitacioId" formControlName = "habitacioId" required
                    [ngClass]="{'is-invalid': llitForm.get('habitacioId')?.touched && llitForm.get('habitacioId')?.invalid || 
                llitForm.hasError('codiLlitHabitacioMismatch')}">
                    <div class="error-messages" *ngIf="llitForm.get('habitacioId')?.touched && llitForm.get('habitacioId')?.invalid">
                        <small *ngIf="llitForm.get('habitacioId')?.hasError('required')">Este campo es obligatorio</small>
                        <small *ngIf="llitForm.get('habitacioId')?.hasError('pattern')">Construido por 3 números</small>
                        <small *ngIf="llitForm.get('habitacioId')?.hasError('habitacionIdNotFound')">El ID no existe</small>
                    </div>
                </div>
            </div>
            
        </div>
        <div *ngIf="llitForm.hasError('codiLlitHabitacioMismatch')" class="error-messages">
            <small>El Id de cama ha de coincidir con el de habitación</small>
        </div>
        <button type="submit">Registrar cama</button>
    </form>
</div>

