<app-nav></app-nav>

<div class="container">
    <h2>Formulario de registro de camas</h2>
    <form type="submit" [formGroup]="llitForm" (ngSubmit)="onSubmit()">
        <div class= "identificador">
            <div class = "capzalera4">
                <label for="codiLlit">ID de cama:</label> 
                <input type="text" id="codiLlit" ngModel name="codiLlit" formControlName="codiLlit" required>
            </div>
            <div *ngIf="llitForm.get('codiLlit')?.errors && llitForm.get('codiLlit')?.dirty">
                <p *ngIf="llitForm.get('codiLlit')?.hasError('required')">Se requiere un código</p>
                <p *ngIf="llitForm.get('codiLlit')?.hasError('minlength')">Mínimo 4 carácteres</p>
                <p *ngIf="llitForm.get('codiLlit')?.hasError('pattern')">Tiene que estar construido por el número de habitación más la letra A o B</p>
            </div>
            <div class = "capzalera1">
                <label for="ocupat">Ocupada:</label>
                <select id="ocupat" ngModel name="ocupat" formControlName="ocupat">
                    <option value="true">Sí</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class = "capzalera2">
                <label for="foraDeServei">Fuera de servicio:</label>
                <select id="foraDeServei" ngModel name="foraDeServei" formControlName="foraDeServei">
                    <option value="true">Sí</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class = "masInfo">
                <div class="capzalera1">
                    <label for="habitacioId">ID habitación:</label>
                    <input type="number" id="habitacioId" ngModel name="habitacioId" formControlName = "habitacioId" required>
                </div>
            </div>
        </div>
        <button type="submit">Registrar cama</button>
    </form>
</div>

