<div class="container">
    <h2>Formulario de Registro de Habitacions</h2>

    <form type="submit" (ngSubmit)="onSubmit()" >
        <div class="identificador">

            <div class="capzalera4">
                <label for="codiHabitacio">Codi d'habitacio:</label>
                <input type="text" id="codiHabitacio" [(ngModel)]="id" name="codiHabitacio" required>
            </div>

            <div class="masInfo">
                <div class="capzalera1">
                    <label for="capacitatLlits">Capacitat de llits:</label>
                    <input type="text" id="capacitatLlits" [(ngModel)]="capacitat" name="capacitatLlits" required>
                </div>
            </div>

            <div class="capzalera1">
                <label for="plantaId">Id planta:</label>
                <input type="text" id="plantaId" [(ngModel)]="planta" name="plantaId" required>
            </div>
            
        </div>
        <button type="submit">Registrar</button>
    </form>
</div>