<app-nav></app-nav>

<div class= "contendor">
    <div class="search-container">
        <div class="lala">
            <form id="searchForm">
                <div class="searchCriteriaContainer">
                    <label for="searchCriteria">Buscar por:</label>
                </div>
                <div class="searchCriteriaItemContainer">
                  <select id="searchCriteria" name="searchCriteria" [(ngModel)]="searchCriteria">
                    <option value="id">ID</option>
                    <option value="dolencia">Dolencia</option>
                    <option value="estat">Estado</option>
                    <option value="pacientId">DNI paciente</option>
                  </select>
                  <input type="text" id="searchInput" name="searchInput" placeholder="Ingresa la búsqueda" [(ngModel)]="searchInput">
                  <button type="button" (click)="searchEpisodi()">Buscar</button>

                </div>
            </form>
        </div>
        <div class="registro">
            <button id="registrarse"><a [routerLink]="['/inicio/episodio/registro-episodio']"> + Registrar episodio médico</a></button>
        </div>
    </div>
    
</div>
<div class ="texto">
    <p>Lista de episodios médicos</p>
</div>
<div class="table-container">
    <div class="cosas">
        <table id="resultsTable">
            <thead>
                <tr>
                    <th>Id episodio</th>
                    <th>Fecha apertura</th>
                    <th>Fecha cierre</th>
                    <th>Estado</th>
                    <th>Dolencia</th>
                    <th>DNI paciente</th>
                    <th>Consultas</th>
                    <th>Ingresos</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let episodi of pagedEpisodis">
                <td>{{ episodi.id }}</td>
                <td>{{ episodi.dataObertura }}</td>
                <td>{{ episodi.dataTancament }}</td>
                <td>{{ episodi.estat }}</td>
                <td>{{ episodi.dolencia }}</td>
                <td>{{ episodi.pacientId }}</td>
                <td class="coleccio" mat-button (click)="openConsultes(episodi)">Consultas</td>
                <td class="coleccio" mat-button (click)="openIngressos(episodi)">Ingresos</td>
                <div class="botones">
                       <button class="ico" (click)="modificarEpisodi(episodi.id)">🔄</button>
                       <button class="ico" (click)="deleteEpisodi(episodi.id)">❎</button>
                </div>
              </tr>
            </tbody>
        </table>

        
    </div>
    
    <div class="pagination">
        <button id="firstPage" (click)="firstPage()" [disabled]="currentPage ===1">&lt;&lt;</button>
        <button (click) = "previousPage()" id="prevPage" [disabled]="currentPage === 1">Anterior</button>
        <span id="pageInfo">Página {{currentPage}} de {{totalPages}}</span>
        <button (click) = "nextPage()" id="nextPage" [disabled]="currentPage === totalPages">Siguiente</button>
        <button id="lastPage" (click)="lastPage()" [disabled]="currentPage ===totalPages">&gt;&gt;</button>
    </div>
</div>


