<app-nav></app-nav>

<div class="container">

    <h2>Formulario de registro de episodio médico</h2>
    
    <form type="submit" [formGroup]="modifEpisodiForm" (ngSubmit)="onUpdate()">

        <div class = "grid-container">

            <div class>
                <label for="dataObertura">Fecha de apertura:<span style="color: red;">*</span></label> 
                <input type="date" id="dataObertura" ngModel name="dataObertura" formControlName="dataObertura" required
                [ngClass]="{'is-invalid': modifEpisodiForm.get('dataObertura')?.touched && modifEpisodiForm.get('dataObertura')?.invalid || 
                modifEpisodiForm.hasError('viatjeEnElTemps')}">
                <div class="error-messages" *ngIf="modifEpisodiForm.get('dataObertura')?.touched  && modifEpisodiForm.get('dataObertura')?.invalid">
                    <small *ngIf="modifEpisodiForm.get('dataObertura')?.hasError('required')">Este campo es obligatorio</small>
                </div>
            </div>
                <div>
                    <label for="dataTancament">Fecha de cierre:</label>
                    <input type="date" id="dataTancament" ngModel name="dataTancament" formControlName = "dataTancament" 
                    [ngClass]="{'is-invalid': modifEpisodiForm.hasError('viatjeEnElTemps')}">
                </div>
           
            <div>
                <label for="dolencia">Dolencia:<span style="color: red;">*</span></label>
                <input type="text" id="dolencia" ngModel name="dolencia" formControlName="dolencia" required
                [ngClass]="{'is-invalid': modifEpisodiForm.get('dolencia')?.touched && modifEpisodiForm.get('dolencia')?.invalid}">
                <div class="error-messages" *ngIf="modifEpisodiForm.get('dolencia')?.touched  && modifEpisodiForm.get('dolencia')?.invalid">
                    <small *ngIf="modifEpisodiForm.get('dolencia')?.hasError('required')">Este campo es obligatorio</small>
                </div>
            </div>
            <div>
                <label for="estat">Estado:<span style="color: red;">*</span></label>
                <select id="estat" ngModel name="estat" formControlName="estat" required
                [ngClass]="{'is-invalid': modifEpisodiForm.get('estat')?.touched && modifEpisodiForm.get('estat')?.invalid}">
                    <option value="Resuelto">Resuelto</option>
                    <option value="No Resuelto">No Resuelto</option>
                </select>
                <div class="error-messages" *ngIf="modifEpisodiForm.get('estat')?.touched  && modifEpisodiForm.get('estat')?.invalid">
                    <small *ngIf="modifEpisodiForm.get('estat')?.hasError('required')">Este campo es obligatorio</small>
                </div>
            </div>
            <div class="ola">
              <label for="dniPacient">DNI paciente:<span style="color: red;">*</span></label>
              <input type="text" id="dniPacient" ngModel name="dniPacient" formControlName="dniPacient" required
              [ngClass]="{'is-invalid': modifEpisodiForm.get('pacientId')?.touched && modifEpisodiForm.get('dniPacient')?.invalid}">
              <div class="error-messages" *ngIf="modifEpisodiForm.get('dniPacient')?.touched  && modifEpisodiForm.get('dniPacient')?.invalid">
                <small *ngIf="modifEpisodiForm.get('dniPacient')?.hasError('required')">Este campo es obligatorio</small>
                <small *ngIf="modifEpisodiForm.get('dniPacient')?.hasError('minlength')">Mínimo 9 carácteres</small>
                <small *ngIf="modifEpisodiForm.get('dniPacient')?.hasError('pattern')">Construido por 8 números y una letra</small>
                <small *ngIf="modifEpisodiForm.get('dniPacient')?.hasError('pacienteIdNotFound')">El DNI no existe</small>
            </div>
            </div>
            
        </div>
        <div *ngIf="modifEpisodiForm.hasError('viatjeEnElTemps')" class="error-messages">
            <small>No se pueden hacer viajes en el tiempo</small>
        </div>
        <button type="submit">Publicar</button>
    </form>
</div>
