<app-nav></app-nav>

<div class="container">
    <h2>Formulario de actualización de habitaciones</h2>

    <form type="submit" [formGroup]="habitacionForm" (ngSubmit)="onSubmit()" >
        <div class="identificador">

            <!--da error al intentar modificar la hab-->
            <!-- <div class="capzalera4">
                <label for="codiHabitacio">Código habitación: <span style="color: red;">*</span></label>
                <input type="text" id="codiHabitacio" name ="habitacioId" formControlName="codiHabitacio" required
                [ngClass]="{'is-invalid': habitacionForm.get('codiHabitacio')?.touched && habitacionForm.get('codiHabitacio')?.invalid || 
                habitacionForm.hasError('codiHabitacioPlantaMismatch')}">
                <div class="error-messages" *ngIf="habitacionForm.get('codiHabitacio')?.touched  && habitacionForm.get('codiHabitacio')?.invalid">
                    <small *ngIf="habitacionForm.get('codiHabitacio')?.hasError('required')">Este campo es obligatorio</small>
                    <small *ngIf="habitacionForm.get('codiHabitacio')?.hasError('minlength')">Mínimo 3 carácteres</small>
                    <small *ngIf="habitacionForm.get('codiHabitacio')?.hasError('pattern')">Construido por 3 números</small>
                    <small *ngIf="habitacionForm.get('codiHabitacio')?.hasError('habIdExists')">El ID ya existe</small>
                </div>
            </div> -->

            <div class="masInfo">
                <div class="capzalera1">
                    <label for="capacitatLlits">Capacidad de camas:<span style="color: red;">*</span></label>
                    <input type="text" id="capacitatLlits" name ="capacitatLlits" formControlName="capacitatLlits" required
                    [ngClass]="{'is-invalid': habitacionForm.get('capacitatLlits')?.touched && habitacionForm.get('capacitatLlits')?.invalid}">
                    <div class="error-messages" *ngIf="habitacionForm.get('capacitatLlits')?.touched  && habitacionForm.get('capacitatLlits')?.invalid">
                        <small *ngIf="habitacionForm.get('capacitatLlits')?.hasError('required')">Este campo es obligatorio</small>
                        <small *ngIf="habitacionForm.get('capacitatLlits')?.hasError('pattern')">Máximo 2 camas</small>
                    </div>
                </div>
            </div>

    
        </div>
        <div *ngIf="habitacionForm.hasError('codiHabitacioPlantaMismatch')" class="error-messages">
            <small>El primer número del id ha de coincidir con la planta</small>
        </div>   
        <div class="botoneh" style="display: flex; gap: 10px; justify-content: center; margin-top: 100px;">
            <button type="submit" style="margin: 0;">Actualizar</button>
            <button class="atras" (click)="onAtras()" style="margin: 0;">Volver a habitaciones</button>
        </div>
    </form>
</div>
