<app-nav></app-nav>

<div class="container">
    <h2>Formulario de actualización de habitaciones</h2>

    <form type="submit" [formGroup]="habitacionForm" (ngSubmit)="onSubmit()" >
        <div class="identificador">

            <div class="capzalera4">
                <label for="codiHabitacio">ID habitación</label>
                <input type="text" id="codiHabitacio" name ="habitacioId" formControlName="codiHabitacio" required>
            </div>

            <div class="masInfo">
                <div class="capzalera1">
                    <label for="capacitatLlits">Capacidad de camas  :</label>
                    <input type="text" id="capacitatLlits" name ="capacitatLlits" formControlName="capacitatLlits" required>
                </div>
            </div>

            <div class="capzalera1">
                <label for="plantaId">ID de planta:</label>
                <input type="text" id="plantaId" name="plantaId" formControlName="plantaId" required>
            </div>
        </div>
        <button type="submit">Actualizar</button>
    </form>
</div>
