<div class="sidebar">
    <nav>
      <ul>
        <li><a routerLink="/consulta" routerLinkActive= "active">Consultas</a></li>
        <li><a routerLink="/episodis" routerLinkActive= "active">Episodos médicos</a></li>
        <li><a routerLink="/habitaciones" routerLinkActive= "active">Habitaciones</a></li>
        <li><a routerLink="/ingres" routerLinkActive= "active">Ingresos</a></li>
        <li><a routerLink="/camas" routerLinkActive= "active">Camas</a></li>
        <li><a routerLink="/pacientes" routerLinkActive= "active">Pacientes</a></li>
        <li><a routerLink="/metge" routerLinkActive= "active">Personal</a></li>        
        <li><a routerLink="/planta" routerLinkActive= "active">Plantas</a></li>

      </ul>
    </nav>
  </div>
