
    <link href="landing.component.css" rel="stylesheet" type="text/css">
    <div id = "father">
    <section>
        <div class = "text">
            <span id ="rev">DESCUBRE LA REVOLUCIÓN DE LA GESTIÓN HOSPITALARIA</span>
            <div id ="dis">Disponible próximamente en las principales tiendas de aplicaciones web.</div>
            <div><div class="nav-item start" id="but"><a href="#start">Start Now</a></div></div>
        </div>

        <div>
            <img src="assets/firstPage2.png" id ="laptop">
        </div>
    </section>
    
</div>

<footer>
    <p>&copy; 2024 Dream Team. Todos los derechos reservados.</p>
</footer>

