
    <link href="landing.component.css" rel="stylesheet" type="text/css">
    <div id = "father">
    <section>
        <div class = "text">
            <span id ="rev">DESCUBRE LA REVOLUCIÓN DE LA GESTIÓN HOSPITALARIA</span>
            <div id ="dis">VitalTechApp es el software para hospitales que consigue que la información fluya de forma digital entre las áreas de tu hospital para conocer las necesidades individuales de cada paciente, aplicar el mejor tratamiento y proporcionar la mejor asistencia.</div>
            <div><div class="nav-item start" id="but"><a href="login">Start Now</a></div></div>
        </div>

        <div>
            <img src="assets/firstPage2.png" id ="laptop">
        </div>
    </section>
    
</div>

<footer>
    <p>&copy; 2024 Dream Team. Todos los derechos reservados.</p>
</footer>

