<div class="ingresos-section">
  <h2>Ingresos</h2>
  <app-snackbar #snackbar></app-snackbar>

  <!-- Tabla de ingresos angular material -->
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>ID Ingreso</th>
          <th>Fecha de entrada</th>
          <th>Fecha de salida</th>
          <th>Episodio medico</th>
          <th>Codigo cama</th>             
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Itera sobre los ingresos y muestra cada uno en una fila de la tabla -->
        <tr *ngFor="let ingreso of ingresos">
          <td>{{ ingreso.id }}</td> <!-- Muestra el ID del ingreso -->
          <td>{{ ingreso.dataEntrada | date:'dd/MM/yyyy'}}</td> <!-- Muestra la fecha de entrada -->
          <td>{{ ingreso.dataSortida | date:'dd/MM/yyyy'}}</td> <!-- Muestra la fecha de salida -->
          <td>{{ ingreso.episodiMedicId }}</td> <!-- Muestra el ID del episodio médico -->
          <td>{{ ingreso.codiLlit }}</td> <!-- Muestra el código de la cama -->
          <td>
            <!-- Botón para actualizar el ingreso, llama a la función toggleActualizarIngreso -->
            <button (click)="toggleActualizarIngreso(ingreso)">Actualizar</button>
            <!-- Botón para borrar el ingreso, llama a la función borrarIngreso con el ID del ingreso -->
            <button (click)="borrarIngreso(ingreso.id)">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Formulario para actualizar un ingreso existente -->
  <div class="form-container" *ngIf="ingresoParaActualizar">
    <h3>Actualizar Ingreso</h3>
    <form [formGroup]="ingresoForm" (ngSubmit)="actualizarIngreso()">

      <!-- Campo para la fecha de salida del ingreso, este campo es opcional -->
      <label for="dataSortida">Fecha de salida:</label>
      <input type="date" id="dataSortida" formControlName="dataSortida">

      <!-- Campo para el episodio médico del ingreso -->
      <label for="episodiMedicId">Episodio médico:</label>
      <input type="text" id="episodiMedicId" formControlName="episodiMedicId" required>
      <!-- Mensaje de error si el campo es inválido y ha sido tocado -->
      <div *ngIf="ingresoForm.get('episodiMedicId')?.invalid && ingresoForm.get('episodiMedicId')?.touched">
        <small *ngIf="ingresoForm.get('episodiMedicId')?.hasError('required')">Selecciona el episodio médico</small>
      </div>

      <!-- Campo para el código de la cama del ingreso -->
      <label for="codiLlit">Código cama:</label>
      <input type="text" id="codiLlit" formControlName="codiLlit" required>
      <!-- Mensaje de error si el campo es inválido y ha sido tocado -->
      <div *ngIf="ingresoForm.get('codiLlit')?.invalid && ingresoForm.get('codiLlit')?.touched">
        <small *ngIf="ingresoForm.get('codiLlit')?.hasError('required')">Selecciona el código de la cama</small>
      </div>

      <!-- Botones para actualizar o cancelar la actualización del ingreso -->
      <div>
        <button type="submit" [disabled]="ingresoForm.invalid">Actualizar</button>
        <button type="button" (click)="cancelarActualizarIngreso()">Cancelar</button>
      </div>
    </form>
  </div>

  <!-- Formulario para agregar un nuevo ingreso -->
  <div class="form-container" *ngIf="!ingresoParaActualizar">
    <h3>Agregar Ingreso</h3>
    <form [formGroup]="ingresoForm" (ngSubmit)="agregarIngreso()">
      <!-- Campo para el episodio médico del ingreso -->
      <label for="episodiMedicId">Episodio médico:</label>
      <input type="text" id="episodiMedicId" formControlName="episodiMedicId" required>
      <!-- Mensaje de error si el campo es inválido y ha sido tocado -->
      <div *ngIf="ingresoForm.get('episodiMedicId')?.invalid && ingresoForm.get('episodiMedicId')?.touched">
        <small *ngIf="ingresoForm.get('episodiMedicId')?.hasError('required')">Selecciona el episodio médico</small>
      </div>

      <!-- Campo para el código de la cama del ingreso -->
      <label for="codiLlit">Código cama:</label>
      <select name="codiLlit" id="codiLlit" formControlName="codiLlit" required>
        <option *ngFor="let llit of llits" [value]="llit.IdCama">{{ llit.IdCama }}</option>
      </select>
      <!-- Mensaje de error si el campo es inválido y ha sido tocado -->
      <div *ngIf="ingresoForm.get('codiLlit')?.invalid && ingresoForm.get('codiLlit')?.touched">
        <small *ngIf="ingresoForm.get('codiLlit')?.hasError('required')">Selecciona el código de la cama</small>
      </div>

      <!-- Botones para agregar el ingreso o cancelar la operación -->
      <div>
        <button type="submit" [disabled]="ingresoForm.invalid">Agregar</button>
        <button type="button" (click)="cancelarNuevoIngreso()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
