<div class="ingresos-section">
  <h2>Ingresos</h2>
  <app-snackbar #snackbar></app-snackbar>

  <!-- Caja de búsqueda -->
  <app-search-box
  [searchOptions]="[
    { label: 'ID Ingreso', value: 'id' },
    { label: 'Episodio medico', value: 'episodiMedicId' },
    { label: 'Codigo cama', value: 'codiLlit' }
  ]"
   [defaultSearchType]="'id'" placeholder="Escribe para buscar..." (search)="filtrarIngresos($event)">
  </app-search-box>




  <!-- Tabla de ingresos angular material -->
  <div class="table-container">
    <table mat-table [dataSource]="ingresos" matSort class="mat-elevation-z8">

      <!-- Columna ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID Ingreso</th>
        <td mat-cell *matCellDef="let ingreso">{{ ingreso.id }}</td>
      </ng-container>

      <!-- Data entrada -->
      <ng-container matColumnDef="dataEntrada">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de entrada</th>
        <td mat-cell *matCellDef="let ingreso">{{ingreso.dataEntrada | date:'dd/MM/yyyy' }}</td>
      </ng-container>

      <!-- Data Sortida-->
      <ng-container matColumnDef="dataSortida">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de salida</th>
        <td mat-cell *matCellDef="let ingreso">{{ingreso.dataSortida ? (ingreso.dataSortida | date:'dd/MM/yyyy' ) : 'N/A' }}</td>
      </ng-container>

      <!--Episodios Medicos-->
      <ng-container matColumnDef="episodiMedicId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Episodio Médico</th>
        <td mat-cell *matCellDef="let ingreso">{{ingreso.episodiMedicId}}</td>
      </ng-container>

      <!--Columna Acciones-->
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
        <td mat-cell *matCellDef="let ingreso">
          <button mat-button (click)="toggleActualizarIngreso(ingreso)">Actualizar</button>
          <button mat-button color="warn" (click)="borrarIngreso(ingreso.id)">Eliminar</button>
        </td>
      </ng-container>

      <!--Codi llit-->
      <ng-container matColumnDef="codiLlit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Codi Llit</th>
        <td mat-cell *matCellDef="let ingreso">{{ingreso.codiLlit}}</td>
      </ng-container>

      <!--Header de la tabla-->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <!--Filas de la tabla-->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <!-- Paginación -->
  <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons=""></mat-paginator>


  <!-- Formulario para actualizar un ingreso existente -->
  <div class="form-container" *ngIf="ingresoParaActualizar">
    <h3>Actualizar Ingreso</h3>
    <form [formGroup]="ingresoForm" (ngSubmit)="actualizarIngreso()">

      <!-- Campo para la fecha de salida del ingreso, este campo es opcional -->
      <label for="dataSortida">Fecha de salida:</label>
      <input type="date" id="dataSortida" formControlName="dataSortida">

      <!-- Campo para el episodio médico del ingreso -->
      <label for="episodiMedicId">Episodio médico:</label>
      <input type="text" id="episodiMedicId" formControlName="episodiMedicId" required>
      <!-- Mensaje de error si el campo es inválido y ha sido tocado -->
      <div *ngIf="ingresoForm.get('episodiMedicId')?.invalid && ingresoForm.get('episodiMedicId')?.touched">
        <small *ngIf="ingresoForm.get('episodiMedicId')?.hasError('required')">Selecciona el episodio médico</small>
      </div>

      <!-- Campo para el código de la cama del ingreso -->
      <label for="codiLlit">Código cama:</label>
      <input type="text" id="codiLlit" formControlName="codiLlit" required>
      <!-- Mensaje de error si el campo es inválido y ha sido tocado -->
      <div *ngIf="ingresoForm.get('codiLlit')?.invalid && ingresoForm.get('codiLlit')?.touched">
        <small *ngIf="ingresoForm.get('codiLlit')?.hasError('required')">Selecciona el código de la cama</small>
      </div>

      <!-- Botones para actualizar o cancelar la actualización del ingreso -->
      <div>
        <button type="submit" [disabled]="ingresoForm.invalid">Actualizar</button>
        <button type="button" (click)="cancelarActualizarIngreso()">Cancelar</button>
      </div>
    </form>
  </div>

  <!-- Formulario para agregar un nuevo ingreso -->
  <div class="form-container" *ngIf="!ingresoParaActualizar">
    <h3>Agregar Ingreso</h3>
    <form [formGroup]="ingresoForm" (ngSubmit)="agregarIngreso()">
      <!-- Campo para el episodio médico del ingreso -->
      <label for="episodiMedicId">Episodio médico:</label>
      <input type="text" id="episodiMedicId" formControlName="episodiMedicId" required>
      <!-- Mensaje de error si el campo es inválido y ha sido tocado -->
      <div *ngIf="ingresoForm.get('episodiMedicId')?.invalid && ingresoForm.get('episodiMedicId')?.touched">
        <small *ngIf="ingresoForm.get('episodiMedicId')?.hasError('required')">Selecciona el episodio médico</small>
      </div>

      <!-- Campo para el código de la cama del ingreso -->
      <label for="codiLlit">Código cama:</label>
      <select name="codiLlit" id="codiLlit" formControlName="codiLlit" required>
        <option *ngFor="let llit of llits" [value]="llit.codiLlit">{{ llit.codiLlit }}</option>
      </select>
      <!-- Mensaje de error si el campo es inválido y ha sido tocado -->
      <div *ngIf="ingresoForm.get('codiLlit')?.invalid && ingresoForm.get('codiLlit')?.touched">
        <small *ngIf="ingresoForm.get('codiLlit')?.hasError('required')">Selecciona el código de la cama</small>
      </div>

      <!-- Botones para agregar el ingreso o cancelar la operación -->
      <div>
        <button type="submit" [disabled]="ingresoForm.invalid">Agregar</button>
        <button type="button" (click)="cancelarNuevoIngreso()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
