<h2 matDialogTitle>{{ 'Agregar habitación' }}</h2>

<mat-dialog-content>
  <form (ngSubmit)="guardar()" [formGroup]="habForm">
    <br />
    <mat-form-field appearance="outline">
      <mat-label>Número de habitación</mat-label>
      <input matInput formControlName="codiHabitacio" required />
      <mat-error *ngIf="habForm.get('codiHabitacio')?.hasError('required')"
        >Campo obligatorio</mat-error
      >
      <mat-error *ngIf="habForm.get('codiHabitacio')?.hasError('pattern')"
        >Debe ser un código de 3 números</mat-error
      >
      <mat-error *ngIf="habForm.hasError('pisoCodigoMismatch')"
        >El primer número del código de habitación debe coincidir con el piso
        seleccionado</mat-error
      >
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
      <mat-label>Capacidad de camas</mat-label>
      <input matInput formControlName="capacitatLlits" required />
      <mat-error *ngIf="habForm.get('capacitatLlits')?.hasError('required')"
        >Campo obligatorio</mat-error
      >
      <mat-error *ngIf="habForm.get('capacitatLlits')?.hasError('pattern')"
        >Solo hay capacidad para dos camas</mat-error
      >
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
      <mat-label>Seleccionar Planta</mat-label>
      <mat-select formControlName="plantaId" required>
        <mat-option *ngFor="let planta of plantas" [value]="planta.piso">
          {{ planta.piso }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="habForm.get('plantaId')?.hasError('required')"
        >Selecciona una habitación</mat-error
      >
    </mat-form-field>
    <br />
    <button mat-button mat-dialog-close>Cancelar</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="habForm.invalid"
      type="submit"
    >
      {{ 'Guardar' }}
    </button>
  </form>
</mat-dialog-content>
