<app-nav></app-nav>

<div class="container">
  <h2>Formulario de registro de ingreso</h2>

  <form type="submit" [formGroup]="ingresForm" (ngSubmit)="onSubmit()">
    <div class="identificador">
      <div class="masInfo">
        <div class="capzalera1">
          <label for="entrada"
            >Fecha de ingreso:<span style="color: red">*</span></label
          >
          <input
            type="date"
            id="entrada"
            ngModel
            name="dataEntrada"
            formControlName="dataEntrada"
            required
            [ngClass]="{
              'is-invalid':
                (ingresForm.get('dataEntrada')?.touched &&
                  ingresForm.get('dataEntrada')?.invalid) ||
                ingresForm.hasError('viatjeEnElTemps')
            }"
          />
          <div
            class="error-messages"
            *ngIf="
              ingresForm.get('dataEntrada')?.touched &&
              ingresForm.get('dataEntrada')?.invalid
            "
          >
            <small *ngIf="ingresForm.get('dataEntrada')?.hasError('required')"
              >Este campo es obligatorio</small
            >
          </div>
        </div>
      </div>

      <div class="capzalera1">
        <label for="episodi">
          ID Episodio médico:<span style="color: red">*</span></label
        >
        <input
          type="text"
          id="episodi"
          name="episodiMedicId"
          formControlName="episodiMedicId"
          required
          [ngClass]="{
            'is-invalid':
              ingresForm.get('episodiMedicId')?.touched &&
              ingresForm.get('episodiMedicId')?.invalid
          }"
        />
        <div
          class="error-messages"
          *ngIf="
            ingresForm.get('episodiMedicId')?.touched &&
            ingresForm.get('episodiMedicId')?.invalid
          "
        >
          <small *ngIf="ingresForm.get('episodiMedicId')?.hasError('required')"
            >Este campo es obligatorio</small
          >
          <small
            *ngIf="
              ingresForm.get('episodiMedicId')?.hasError('episodioIdNotFound')
            "
            >El ID de episodio no existe</small
          >
        </div>
      </div>

      <div class="capzalera1">
        <label for="llit">ID cama:<span style="color: red">*</span></label>
        <input
          type="text"
          id="llit"
          ngModel
          name="codiLlit"
          formControlName="codiLlit"
          required
          [ngClass]="{
            'is-invalid':
              (ingresForm.get('codiLlit')?.touched &&
                ingresForm.get('codiLlit')?.invalid) ||
              ingresForm.hasError('camaOcupadaPaciente')
          }"
        />
        <div
          class="error-messages"
          *ngIf="
            ingresForm.get('codiLlit')?.touched &&
            ingresForm.get('codiLlit')?.invalid
          "
        >
          <small *ngIf="ingresForm.get('codiLlit')?.hasError('required')"
            >Este campo es obligatorio</small
          >
          <small *ngIf="ingresForm.get('codiLlit')?.hasError('minlength')"
            >Mínimo 4 carácteres</small
          >
          <small *ngIf="ingresForm.get('codiLlit')?.hasError('pattern')"
            >Construido por 3 núm y A o B</small
          >
          <small *ngIf="ingresForm.get('codiLlit')?.hasError('llitIdNotFound')"
            >El ID de cama no existe</small
          >
          <small *ngIf="ingresForm.hasError('camaOcupadaPaciente')"
            >Ya hay un paciente ingresado</small
          >
        </div>
        <div
          class="error-messages"
          *ngIf="ingresForm.hasError('camaOcupadaPaciente')"
        >
          <small>Ya hay un paciente ingresado</small>
        </div>
      </div>
    </div>
    <div *ngIf="ingresForm.hasError('viatjeEnElTemps')" class="error-messages">
      <small>No es poden fer viatjes en el temps</small>
    </div>
    <button type="submit">Registrar</button>
  </form>
</div>
