<h2 mat-dialog-title>{{ 'Agregar Episodi Medic' }}</h2>

<mat-dialog-content>

  <form [formGroup]="episodiForm" (ngSubmit)="guardar()">

    <mat-form-field class="example-full-width">
      <mat-label>Data Obertura</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="data.dataObertura" formControlName="dataObertura" required>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Dolencia</mat-label>
      <input matInput name="dolencia" formControlName="dolencia" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Estat</mat-label>
      <input matInput name="estat" formControlName="estat" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>DNI Pacient</mat-label>
      <input matInput name="dniPacient" formControlName="dniPacient" required />
    </mat-form-field>

  </form>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" (click)="guardar()">
    {{ 'Guardar' }}
  </button>
</mat-dialog-actions>
