<h2 mat-dialog-title>{{ 'Agregar Episodi Medic' }}</h2>

<mat-dialog-content>

  <form [formGroup]="episodiForm" (ngSubmit)="guardar()">

    <mat-form-field  appearance="outline" class="example-full-width">
      <mat-label>Fecha apertura</mat-label>
      <input matInput [matDatepicker]="picker"  formControlName="dataObertura" required placeholder="Seleccione una fecha" required>
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Motivo</mat-label>
      <input matInput name="motivo" formControlName="motivo" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Urgencia</mat-label>
      <mat-select formControlName="urgencia">
        <mat-option [value]="'Urgent'">Urgente</mat-option>
        <mat-option [value]="'No Urgent'">No Urgente</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>DNI Paciente</mat-label>
      <input matInput name="dniPacient" formControlName="dniPacient" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>DNI Medico</mat-label>
      <input matInput name="dniMetge" formControlName="dniMetge" required />
    </mat-form-field>

  </form>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" (click)="guardar()">
    {{ 'Guardar' }}
  </button>
</mat-dialog-actions>
