<app-nav></app-nav>

<div class="contendor">
  <div class="search-container">
    <div class="lala">
      <form id="searchForm">
        <div class="searchCriteriaContainer">
          <label for="searchCriteria">Buscar por:</label>
        </div>
        <div class="searchCriteriaItemContainer">
          <select
            id="searchCriteria"
            name="searchCriteria"
            [(ngModel)]="searchCriteria"
          >
            <option value="nom">Nombre</option>
            <option value="dni">DNI</option>
            <option value="numSS">SS</option>
            <option value="cognom1">Primer apellido</option>
            <option value="cognom2">Segundo apellido</option>
            <option value="sexe">Sexo</option>
            <option value="birthDay">Fecha de nacimiento</option>
          </select>
          <input
            type="text"
            id="searchInput"
            name="searchInput"
            placeholder="Ingresa la búsqueda"
            [(ngModel)]="searchInput"
          />
          <button type="button" (click)="searchPatient()">Buscar</button>
        </div>
      </form>
    </div>
    <div class="registro">
      <button id="registrarse">
        <a [routerLink]="['/inicio/paciente/registro']">
          + Registro de paciente</a
        >
      </button>
    </div>
  </div>
</div>
<div class="texto">
  <p>Lista de pacientes</p>
</div>
<div class="table-container">
  <div class="cosas">
    <table id="resultsTable">
      <thead>
        <tr>
          <th>DNI</th>
          <th>Núm. SS</th>
          <th>Nombre</th>
          <th>Primer apellido</th>
          <th>Segon apellido</th>
          <th>Sexo</th>
          <th>Fecha de nacimiento</th>
          <th>Episodios médicos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pacient of pagedPacient">
          <td>{{ pacient.dni }}</td>
          <td>{{ pacient.numSS }}</td>
          <td>{{ pacient.nom }}</td>
          <td>{{ pacient.cognom1 }}</td>
          <td>{{ pacient.cognom2 }}</td>
          <td>{{ pacient.sexe }}</td>
          <td>{{ pacient.birthDay.split('T')[0] }}</td>
          <td class="coleccio" mat-button (click)="openEpisodisMedics(pacient)">
            Episodios
          </td>
          <button class="ico" (click)="updatePacient(pacient.dni)">🔄</button>
          <button class="ico" (click)="deletePacient(pacient.dni)">❎</button>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination">
    <button id="firstPage" (click)="firstPage()" [disabled]="currentPage === 1">
      &lt;&lt;
    </button>
    <button
      id="prevPage"
      (click)="previousPage()"
      [disabled]="currentPage === 1"
    >
      Anterior
    </button>
    <span id="pageInfo">Página {{ currentPage }} de {{ totalPages }}</span>
    <button
      id="nextPage"
      (click)="nextPage()"
      [disabled]="currentPage === totalPages"
    >
      Siguiente
    </button>
    <button
      id="lastPage"
      (click)="lastPage()"
      [disabled]="currentPage === totalPages"
    >
      &gt;&gt;
    </button>
  </div>
</div>

<script>
  const btn = document.getElementById('registrarse');
  const contenido = document.getElementById('container');

  btn.addEventListener('click', () => {
    if (contenido.style.display === 'none' || contenido.style.display === '') {
      contenido.style.display = 'block';
      btn.style.display = 'none';
    }
  });
</script>
