body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.sidebar {
  height: 87.5vh;
  width: 15vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #c0e7e7;
  margin-top: 12.5vh;
  z-index: 1;
}

.sidebar nav {
  height: 100%;
  overflow-y: scroll;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  padding: 5px;
  text-align: center;
  transition: transform 0.6s ease;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  background-color: darkcyan;
  border-radius: 0.5em;
  margin: 10px 10px 0 10px;
  font-family: Arial, sans-serif;
}

.sidebar nav ul li .active {
  background-color: #02789b;
}

.sidebar nav ul li a:hover {
  background-color: #02789b;
  cursor: pointer;
  transform: scale(1.0428571428571);
}
