body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.sidebar {
  height: 100%;
  width: 220px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #c0e7e7;
  padding-top: 20px;
  margin-top: 70px;
  z-index: 1;
}

.sidebar nav {
  height: 80%;
  overflow-y: scroll;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  padding: 5px;
  text-align: center;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  background-color: darkcyan;
  border-radius: 5px;
  margin: 10px 10px 0 10px;
  font-family: Arial, sans-serif;
}

.sidebar nav ul li .active {
  background-color: #02789b;
}

.sidebar nav ul li a:hover {
  background-color: #02789b;
}
