<div class="sidebar">
  <nav>
    <ul>
      <li>
        <a [routerLink]="['/inicio/cama']" routerLinkActive="active">Camas</a>
      </li>
      <li>
        <a [routerLink]="['/inicio/consulta']" routerLinkActive="active"
          >Pruebas diagnosticas</a
        >
      </li>
      <li>
        <a [routerLink]="['/inicio/episodio']" routerLinkActive="active"
          >Episodios médicos</a
        >
      </li>
      <li>
        <a [routerLink]="['/inicio/habitacion']" routerLinkActive="active"
          >Habitaciones</a
        >
      </li>
      <li>
        <a [routerLink]="['/inicio/ingreso']" routerLinkActive="active"
          >Ingresos</a
        >
      </li>
      <li>
        <a [routerLink]="['/inicio/paciente']" routerLinkActive="active"
          >Pacientes</a
        >
      </li>
      <li>
        <a [routerLink]="['/inicio/usuario']" routerLinkActive="active"
          >Usuarios</a
        >
      </li>
      <li>
        <a [routerLink]="['/inicio/personal']" routerLinkActive="active"
          >Médicos</a
        >
      </li>
      <li>
        <a [routerLink]="['/inicio/planta']" routerLinkActive="active"
          >Plantas</a
        >
      </li>
      <li>
        <a [routerLink]="['/inicio/enfermero']" routerLinkActive="active"
          >Enfermeros</a
        >
      </li>
      <li>
        <a [routerLink]="['/inicio/administradorSistema']" routerLinkActive="active"
          >Administradores de Sistema</a
        >
      </li>
      <li>
        <a [routerLink]="['/inicio/administrativo']" routerLinkActive="active"
          >Administrativos</a
        >
      </li>
    </ul>
  </nav>
</div>
