<div class="habitaciones">
    <div class="container">
        <div class="buscador">
            <form id="searchForm">
                <div class="searchCriteriaContainer">
                    <label for="searchCriteria">Buscar por:</label>
                </div>
                <div class="searchCriteriaItemContainer">
                    <select id="searchCriteria" name="searchCriteria">
                        <option value="id">Número de Habitación</option>
                        <option value="idPaciente">Identificador de Paciente</option>
                    </select>
                    <input type="text" id="searchInput" name="searchInput" placeholder="Ingresa la busqueda...">
                    <button type="submit">Buscar</button>
                    
                </div>
            </form>
        </div>
    </div>
    <div class="createRoom">
        <button id="newRoom">+ Nueva Habitación</button>
    </div>
</div>
<div class ="texto">
    <p>Lista de Habitaciones</p>
</div>
<div class="table-container">
    <div class="cosas">
        <table id="resultsTable">
            <thead>
                <tr>
                    <th>Número de habitación</th>
                    <th>Planta</th>
                    <th>Camas asignadas</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>120</th>
                    <th>2</th>
                    <th><select id="searchRoom" name="searchRoom">
                        <option value="bed1">456</option>
                        <option value="bed2">227</option>
                    </select></th>

                </tr>
                <tr>
                    <th>15</th>
                    <th>3</th>
                    <th><select id="searchRoom" name="searchRoom">
                        <option value="bed1">223</option>
                        <option value="bed2">765</option>
                    </select></th>

                </tr>
                <tr>
                    <th>11</th>
                    <th>1</th>
                    <th><select id="searchRoom" name="searchRoom">
                        <option value="bed1">132</option>
                        <option value="bed2">098</option>
                    </select></th>
                </tr>
            </tbody>
        </table>

        <div class = "eliminar">
            <button id="eliminarse">Eliminar</button>
            <button id="eliminarse">Eliminar</button>
            <button id="eliminarse">Eliminar</button>
        </div>
    </div>
    
    <div class="pagination">
        <button id="prevPage">Anterior</button>
        <span id="pageInfo">Página 1 de X</span>
        <button id="nextPage">Siguiente</button>
    </div>
</div>

