body {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
footer {
    margin-top: auto;
    text-align: center;
    padding: 20px;

}