
<div class= "contendor">
    <div class="search-container">
        <div class="lala">
            <form id="searchForm">
                <div class="searchCriteriaContainer">
                    <label for="searchCriteria">Buscar por:</label>
                </div>
                <div class="searchCriteriaItemContainer">
                    <select id="searchCriteria" name="searchCriteria" [(ngModel)]="searchCriteria">
                        <option value="id">Id Episodi</option>
                        <option value="entrada">Data Entrada</option>
                        <option value="sortida">Data Sortida</option>
                        <option value="episodi">Episodi Medic</option>
                        <option value="llit">Id LLit</option>
                    </select>
                    <input type="text" id="searchInput" name="searchInput" placeholder="Ingresa la busqueda..." [(ngModel)]="searchInput">
                    <button type="button" (click)="search()">Buscar</button>
                    
                </div>
            </form>
        </div>
        <div class="registro">
            <button id="registrarse"><a routerLink="/registro-ingres"> + Registrar Ingres</a></button>
        </div>
    </div>
    
</div>
<div class ="texto">
    <p>Llista de Ingressos</p>
</div>
<div class="table-container">
    <div class="cosas">
        <table id="resultsTable">
            <thead>
                <tr>
                    <th>Id Ingres</th>
                    <th>Data Entrada</th>
                    <th>Data Sortida</th>
                    <th>Episodi Medic</th>
                    <th>Id Llit</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ingres of pagedIngress">
                    <td>{{ ingres.id }}</td>
                    <td>{{ ingres.dataEntrada }}</td>
                    <td>{{ ingres.dataSortida }}</td>  
                    <td>{{ ingres.episodiMedicId }}</td>
                    <td>{{ ingres.llitId }}</td>
                    <button class = "ico" (click)="updateIngres(ingres.id)">🔄</button>
                    <button class = "ico" (click)="deleteIngres(ingres.id)">❎</button>
                  </tr>
            </tbody>
        </table>

        
    </div>
    
    <div class="pagination">
        <button id="prevPage" (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
        <span id="pageInfo">Página {{currentPage }} de {{ totalPages }}</span>
        <button id="nextPage"(click)= "nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
    </div>
</div>


