<div class="dashboard-layout">
  <aside class="sidebar">
    <ul>
      <li>
        <a
          [routerLink]="['/inicio/controlador-camas']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Inicio</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/inicio/controlador-camas/solicitudes-ingreso']"
          routerLinkActive="active"
          title="Ver las solicitudes hechas por los medicos"
          >Solicitudes de Ingreso</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/inicio/controlador-camas/asignar-cama']"
          routerLinkActive="active"
          title="Asignar una cama a un paciente"
          >Asignación de cama</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/inicio/controlador-camas/estado-camas']"
          routerLinkActive="active"
          title="Ver la disponibilidad de las camas"
          >Disponibilidad de camas</a
        >
      </li>
    </ul>
  </aside>
</div>
