<app-nav></app-nav>

<div class="container">

    <h2>Formulario de registro de episodio médico</h2>
    
    <form type="submit" [formGroup]="episodiForm" (ngSubmit)="onSubmit()">

        <div class = "grid-container">

            <div>
                <label for="dataObertura">Fecha de apertura:<span style="color: red;">*</span></label> 
                <input type="date" id="dataObertura" ngModel name="dataObertura" formControlName="dataObertura" required>
            </div>
                <div>
                    <label for="dataTancament">Fecha de cierre:<span style="color: red;">*</span></label>
                    <input type="date" id="dataTancament" ngModel name="dataTancament" formControlName = "dataTancament" required
>
                </div>
           
            <div>
                <label for="dolencia">Dolencia:</label>
                <input type="text" id="dolencia" ngModel name="dolencia" formControlName="dolencia" required>
            </div>
            <div>
                <label for="estat">Estado:</label>
                <input type="text" id="estat" ngModel name="estat" formControlName="estat" required>
            </div>
            <div>
              <label for="pacientId">DNI paciente:<span style="color: red;">*</span></label>
              <input type="text" id="pacientId" ngModel name="pacientId" formControlName="pacientId" required>
            </div>
        </div>
        <button type="submit">Publicar</button>
    </form>
</div>
