
    <header>
        <h1>Bienvenidos a Hospital Maricarmen</h1>
    </header>

    <main>
        <p>Seleccione una opción para continuar:</p>
        <div class="button-container">
            <div>
                <a [routerLink]="['/inicio/consulta']" routerLinkActive= "active" class="button">Consultas</a>
                <a [routerLink]="['/inicio/paciente']" routerLinkActive= "active" class="button">Pacientes</a>
                <a [routerLink]="['/inicio/personal']" routerLinkActive= "active" class="button">Personal</a>
                <a [routerLink]="['/inicio/episodio']" routerLinkActive= "active" class="button">Episodios médicos</a>
            </div>
            <div class="lala">
                <a [routerLink]="['/inicio/cama']" routerLinkActive= "active" class="button">Camas</a>
                <a [routerLink]="['/inicio/habitacion']" routerLinkActive= "active" class="button">Habitaciones</a>
                <a [routerLink]="['/inicio/planta']" routerLinkActive= "active" class="button">Plantas</a>
                <a [routerLink]="['/inicio/ingreso']" routerLinkActive= "active" class="button">Ingresos</a>
            </div>
        </div>
    </main>

    <footer>
        <p>© 2024 Hospital Maricarmen. Todos los derechos reservados.</p>
    </footer>
    <router-outlet></router-outlet>



