<app-nav></app-nav>

<div class="container">
    <h2>Formulario de registro de habitaciones</h2>

    <form type="submit" [formGroup]="habitacionForm" (ngSubmit)="onSubmit()" >
        <div class="identificador">

            <div class="capzalera4">
                <label for="codiHabitacio">ID de habitación:</label>
                <input type="number" id="codiHabitacio" name="codiHabitacio" formControlName="codiHabitacio" required
                [ngClass]="{'is-invalid': habitacionForm.get('codiHabitacio')?.touched && habitacionForm.get('codiHabitacio')?.invalid || 
                habitacionForm.hasError('codiHabitacioPlantaMismatch')}">
                <div class="error-messages" *ngIf="habitacionForm.get('codiHabitacio')?.touched  && habitacionForm.get('codiHabitacio')?.invalid">
                    <small *ngIf="habitacionForm.get('codiHabitacio')?.hasError('required')">Este campo es obligatorio</small>
                    <small *ngIf="habitacionForm.get('codiHabitacio')?.hasError('minlength')">Mínimo 3 carácteres</small>
                    <small *ngIf="habitacionForm.get('codiHabitacio')?.hasError('pattern')">Construido por 3 números</small>
                    <small *ngIf="habitacionForm.get('codiHabitacio')?.hasError('habIdExists')">El ID ya existe</small>
                </div>
            </div>

            <div class="masInfo">
                <div class="capzalera1">
                    <label for="capacitatLlits">Capacidad de camas:</label>
                    <input type="text" id="capacitatLlits" name="capacitatLlits" formControlName="capacitatLlits" required
                    [ngClass]="{'is-invalid': habitacionForm.get('capacitatLlits')?.touched && habitacionForm.get('capacitatLlits')?.invalid}">
                    <div class="error-messages" *ngIf="habitacionForm.get('capacitatLlits')?.touched  && habitacionForm.get('capacitatLlits')?.invalid">
                        <small *ngIf="habitacionForm.get('capacitatLlits')?.hasError('required')">Este campo es obligatorio</small>
                        <small *ngIf="habitacionForm.get('capacitatLlits')?.hasError('pattern')">Máximo 2 camas</small>
                    </div>
                </div>
            </div>

            <div class="capzalera1">
                <label for="plantaId">ID de planta:</label>
                <input type="number" id="plantaId" name="plantaId" formControlName="plantaId" required
                [ngClass]="{'is-invalid': habitacionForm.get('plantaId')?.touched && habitacionForm.get('plantaId')?.invalid || 
                habitacionForm.hasError('codiHabitacioPlantaMismatch')}">
                <div class="error-messages" *ngIf="habitacionForm.get('plantaId')?.touched  && habitacionForm.get('plantaId')?.invalid">
                    <small *ngIf="habitacionForm.get('plantaId')?.hasError('required')">Este campo es obligatorio</small>
                    <small *ngIf="habitacionForm.get('plantaId')?.hasError('pattern')">Construido por al menos un número</small>
                    <small *ngIf="habitacionForm.get('plantaId')?.hasError('plantaIdNotFound')">El ID no existe</small>
                </div>
            </div>
            
        </div>
        <div *ngIf="habitacionForm.hasError('codiHabitacioPlantaMismatch')" class="error-messages">
            <small>El primer número del id ha de coincidir con la planta</small>
        </div> 
        <button type="submit">Registrar</button>
    </form>
</div>