<h2 mat-dialog-title>{{ data.id ? 'Actualizar Ingreso' : 'Agregar Ingreso' }}</h2>
<mat-dialog-content>
  <form [formGroup]="ingresoForm">
    <br />
    @if (data.id) {
      <mat-form-field appearance="outline">
        <mat-label>Fecha de salida:</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dataSortida" 
               placeholder="DD/MM/YYYY" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="ingresoForm.hasError('viatjeEnElTemps')">La fecha de salida no puede ser anterior a la fecha de entrada</mat-error>
      </mat-form-field>    
    }
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Seleccione un Episodio Médico</mat-label>
      <mat-select formControlName="episodiMedicId" required>
        <mat-option *ngFor="let episodio of episodisMedics" [value]="episodio.id">
          {{ episodio.id }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="ingresoForm.get('episodiMedicId')?.hasError('required')">Selecciona un episodio médico</mat-error>
    </mat-form-field>
    
    

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Cama:</mat-label>
      <mat-select formControlName="codiLlit">
        <mat-option *ngFor="let cama of llits" [value]="cama.codiLlit">
          {{cama.codiLlit}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="ingresoForm.get('codiLlit')?.hasError('required')">Selecciona una cama</mat-error>
      <br />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="ingresoForm.invalid" (click)="guardar()" >
    {{ data.id ? 'Actualizar' : 'Agregar' }}
  </button>
</mat-dialog-actions>
