<app-administratidor-sistema-dashboard></app-administratidor-sistema-dashboard>
<div class="medicos-section">
  <h2>Medicos</h2>
  <!--Para las notificaciones-->
  <app-snackbar #snackbar></app-snackbar>

  <div class="header-container">

      <!-- Botón de agregar cama -->
    <div>
      <button mat-raised-button color="primary" (click)="tooggleAgregarMedico()">
        Agregar Medico
      </button>
    </div>

    <!--Caja de busqueda-->
    <div>
      <app-search-box
        [searchOptions]="[
          {label: 'DNI', value: 'dni'},
          {label: 'Nombre', value: 'nom'},
          {label: 'Nombre de usuario', value: 'usuariId'},
          {label: 'Teléfono', value: 'telefon'},
          {label: 'Especialidad', value: 'especialita'}
        ]"
        [defaultSearchType]="'dni'" 
        placeholder="Escribe para buscar..." 
        (search)="filtrarMedicos($event)">
      </app-search-box>
    </div>
  </div>

  <!--Tabla medicos-->
  <div class="table-container">
    <table mat-table [dataSource]="medicos" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>DNI</th>
        <td mat-cell *matCellDef="let medico">{{ medico?.dni }}</td>
      </ng-container>

      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let medico">{{ medico?.nom }}</td>
      </ng-container>

      <ng-container matColumnDef="usuariId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Nombre de usuario
        </th>
        <td mat-cell *matCellDef="let medico">{{ medico?.usuariId }}</td>
      </ng-container>

      <ng-container matColumnDef="telefon">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</th>
        <td mat-cell *matCellDef="let medico">{{ medico?.telefon }}</td>
      </ng-container>

      <ng-container matColumnDef="especialitat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Especialidad</th>
        <td mat-cell *matCellDef="let medico">{{ medico?.especialitat }}</td>
      </ng-container>

      <ng-container matColumnDef="episodiMedics">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Episodios médicos
        </th>
        <td mat-cell *matCellDef="let medico">
          {{
            medico?.episodiMedics?.length
              ? medico.episodiMedics
              : "No hay episodios médicos"
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="pruebasDiagnosticas">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Pruebas diagnósticas
        </th>
        <td mat-cell *matCellDef="let medico">
          {{
            medico?.pruebasDiagnosticas?.length
              ? medico.pruebasDiagnosticas
              : "No hay pruebas diagnósticas"
          }}
        </td>
      </ng-container>

      <!--Header de la tabla-->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <!--Filas de la tabla-->
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="clickable-row"
      ></tr>
    </table>
  </div>
  <!--Pagination-->
  <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
</div>
