

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
            
  
       
          <header>
            <div class="logo">
              <img src="assets/logoVitalTech.jpg">
              <span>VitalTech</span>
            </div>
            <nav>
              <div class="nav-item"><a href="landing">Inicio</a></div>
              <div class="nav-item"><a href="who">Quienes Somos</a></div>
              <div class="nav-item"><a href="mockup">Mock Up</a></div>
              <div class="nav-item"><a href="bbdd">BBDD</a></div>
              <div class="nav-item start" ><a href="login">Start Now</a></div> 
            </nav>
            </header>
       



<router-outlet/>