
<div class= "contendor">
    <div class="search-container">
        <div class="lala">
            <form id="searchForm">
                <div class="searchCriteriaContainer">
                    <label for="searchCriteria">ID habitación:</label>
                </div>
                <div class="searchCriteriaItemContainer">
                    <input type="text" name="searchInput" [(ngModel)]="inputValueId"  placeholder="Ingresa la búsqueda">
                    <button type="button" (click)="loadHabitacio()">Buscar</button>
                </div>
            </form>
        </div>
        <div class="registro">
            <button id="registrarse"><a routerLink="/habitaciones/agregar"> + Registrar nueva habitación</a></button>
        </div>
    </div>
    
</div>
<div class ="texto">
    <p>Lista de habitaciones</p>
</div>
<div class="table-container">
    <div class="cosas">
        <table id="resultsTable">
            <thead>
                <tr>
                    <th>ID de habitación</th>
                    <th>Capacidad de camas</th>
                    <th>ID de planta</th>
                    <th>Camas</th>
                </tr>
            </thead>
            <tbody>
                  <tr *ngFor="let hab of pagedConsultes">
                    <td>{{ hab.codiHabitacio }}</td>
                    <td>{{ hab.capacitatLlits }}</td>
                    <td>{{ hab.plantaId }}</td>  
                    <td class="coleccio" mat-button (click)="openLlits(hab)">Camas</td>
                    <button class = "ico" (click)="updateHabitacio(hab)">🔄</button>
                    <button class = "ico" (click)="deleteHabitacio(hab.codiHabitacio)">❎</button>
                </tr>
            </tbody>
        </table>

        
    </div>
    
    <div class="pagination">
        <button id="firstPage" (click)="firstPage()" [disabled]="currentPage ===1">&lt;&lt;</button>
        <button id="prevPage" (click)="previousPage()" [disabled]="currentPage ===1">Anterior</button>
        <span id="pageInfo">Página {{ currentPage }} de {{ totalPages }}</span>
        <button id="nextPage" (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
        <button id="lastPage" (click)="lastPage()" [disabled]="currentPage ===totalPages">&gt;&gt;</button>
    </div>
</div>


