
<div class= "contendor">
    <div class="search-container">
        <div class="lala">
            <form id="searchForm">
                <div class="searchCriteriaContainer">
                    <label for="searchCriteria">Buscar por:</label>
                </div>
                <div class="searchCriteriaItemContainer">
                    <input type="number" name="searchInput" [(ngModel)]="inputValueId"  placeholder="Ingresa la busqueda...">
                    <button id="buttonSerchID" type="button" (click)="loadHabitacio()">Buscar</button>
                </div>
            </form>
        </div>
        <div class="registro">
            <button id="registrarse"><a routerLink="/registro"> + Registrar Habitacio</a></button>
        </div>
    </div>
    
</div>
<div class ="texto">
    <p>Llista de Habitacions</p>
</div>
<div class="table-container">
    <div class="cosas">
        <table id="resultsTable">
            <thead>
                <tr>
                    <th>Id Habitacio</th>
                    <th>Capacitat Llits</th>
                    <th>Id Planta</th>
                    <th>Llits</th>
                </tr>
            </thead>
            <tbody>
                  <tr *ngFor="let hab of habitacions">
                    <td>{{ hab.codiHabitacio }}</td>
                    <td>{{ hab.capacitatLlits }}</td>
                    <td>{{ hab.plantaId }}</td>  
                    <td id="coleccio" mat-button (click)="openLlits(hab)">Llits</td>
                  </tr>
            </tbody>
        </table>

        
    </div>
    
    <div class="pagination">
        <button id="prevPage">Anterior</button>
        <span id="pageInfo">Página 1 de X</span>
        <button id="nextPage">Siguiente</button>
    </div>
</div>


