<!--
<app-administratidor-sistema-dashboard></app-administratidor-sistema-dashboard>
<div class="usuarios-section">
  <br /><br /><br />
  <h2>Usuarios</h2>
  <app-snackbar #snackbar></app-snackbar>

  <div class="header-container">
    <div>
      <button mat-raised-button color="primary">
        Registrar nuevo empleado
      </button>
    </div>
    <br />

    <!-- Caja de búsqueda 
    <app-search-box
      [searchOptions]="[
        { label: 'DNI', value: 'DNI' },
        { label: 'nom', value: 'nom' }
      ]"
      [defaultSearchType]="'nom'"
      placeholder="Escribe para buscar..."
    >
    </app-search-box>
  </div>
  <!--Tabla Angular Material
  <div class="table-container">
    <table mat-table matSort class="mat-elevation-z8">
      <!--Columna ID
      <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          DNI de usuario
        </th>
        <td mat-cell *matCellDef="let usuario">{{ usuario.dni }}</td>
      </ng-container>

      <!--Columna nom
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>nom</th>
        <td mat-cell *matCellDef="let usuario">{{ usuario.nom }}</td>
      </ng-container>

      <ng-container matColumnDef="especialitat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Especialidad</th>
        <td mat-cell *matCellDef="let usuario">{{ usuario.especialitat }}</td>
      </ng-container>

      <ng-container matColumnDef="consultes">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Consultes</th>
        <td mat-cell *matCellDef="let usuario">
          <a style="cursor: pointer; color: blue">
            {{ usuario.consultes.length }} Consultes
          </a>
        </td>
      </ng-container>

      <!--Columna nom Usuario
      <!-- <ng-container matColumnDef="nomUsuario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>nom Usuario</th>
        <td mat-cell *matCellDef="let usuario">{{ usuario.nomUsuario }}</td>
      </ng-container> 

      <!--Columna IdRol
      <!-- <ng-container matColumnDef="IdRol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID Rol</th>
        <td mat-cell *matCellDef="let usuario">{{ usuario.IdRol }}</td>
      </ng-container> 

      <!-- Columna Acciones
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
        <td mat-cell *matCellDef="let usuario"></td>
      </ng-container>

      <!-- Header de la tabla 
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <!-- Filas de la tabla 
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <!-- Paginación 
    <mat-paginator
      [pageSizeOptions]="[8, 15, 25]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
-->