<div class="dashboard-layout">
  <aside class="sidebar">
    <ul>
      <li>
        <a
          [routerLink]="['/inicio/administrativo']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          title="Página de inicio del administrativo"
          >Inicio</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/inicio/administrativo/registrar-paciente']"
          routerLinkActive="active"
          title="Registrar un nuevo paciente"
          >Registrar Paciente</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/inicio/administrativo/buscar-pacientes']"
          routerLinkActive="active"
          title="Buscar un paciente registrado"
          >Buscar Paciente</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/inicio/administrativo/pacientes-administrar']"
          routerLinkActive="active"
          title="Ver todos los pacientes"
          >Ver Pacientes</a
        >
      </li>
    </ul>
  </aside>
</div>
