/*.dashboard-layout {
  display: flex;
  height: 100vh;
}*/

.sidebar {
  position: fixed; /* Ahora está fijo en lugar de sticky */
  top: 60px; /* Ajusta este valor según la altura del header */
  left: 0; /* Coloca el sidenav en el borde izquierdo */
  width: 200px; /* Ajusta el ancho según lo que necesitas */
  height: calc(
    100vh - 60px
  ); /* Altura de toda la ventana menos la altura del header */
  background-color: #343a40; /* Color de fondo del sidenav */
  overflow-y: auto; /* Permite hacer scroll dentro del sidenav si es necesario */
  padding: 20px; /* Opcional, espacio interno para el contenido */
  z-index: 1000; /* Asegura que el sidenav esté por encima del contenido */
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacio entre los elementos de la lista */
}
::-webkit-scrollbar {
  display: none;
}
.sidebar li {
  display: block;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  display: block;
  margin-top: 15px;
}

.sidebar a.active {
  background-color: #007bff;
  border-radius: 5px;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
