
    <header>
        <h1>Bienvenidos a Hospital Maricarmen</h1>
    </header>

    <main>
        <p>Seleccione una opción para continuar:</p>
        <div class="button-container">
            <div>
                <a routerLink="/consulta" routerLinkActive= "active" class="button">Consultas</a>
                <a routerLink="/pacientes" routerLinkActive= "active" class="button">Pacientes</a>
                <a routerLink="/metge" routerLinkActive= "active" class="button">Personal</a>
                <a routerLink="/episodis" routerLinkActive= "active" class="button">Episodi Medic</a>
            </div>
            <div class="lala">
                <a routerLink="/camas" routerLinkActive= "active" class="button">Llit</a>
                <a routerLink="/habitaciones" routerLinkActive= "active" class="button">Habitacions</a>
                <a routerLink="/planta" routerLinkActive= "active" class="button">Plantes</a>
                <a routerLink="/ingres" routerLinkActive= "active" class="button">Ingresos</a>
            </div>
        </div>
    </main>

    <footer>
        <p>© 2024 Hospital Maricarmen. Todos los derechos reservados.</p>
    </footer>



