<div class="container">
    <h2>Formulario d'Actualizar de Habitacions</h2>

    <form type="submit" [formGroup]="consultaForm" (ngSubmit)="onSubmit()" >
        <div class="identificador">

            <div class="capzalera4">
                <label for="codiHabitacio">Codi d'habitacio:</label>
                <input type="text" id="codiHabitacio" [(ngModel)]="id" formControlName="codiHabitacio" required>
            </div>

            <div class="masInfo">
                <div class="capzalera1">
                    <label for="capacitatLlits">Capacitat de llits:</label>
                    <input type="text" id="capacitatLlits" [(ngModel)]="capacitat" formControlName="capacitatLlits" required>
                </div>
            </div>

            <div class="capzalera1">
                <label for="plantaId">Id planta:</label>
                <input type="text" id="plantaId" [(ngModel)]="planta" formControlName="plantaId" required>
            </div>
        </div>
        <button type="submit">Actualitzar</button>
    </form>
</div>
