<app-administratidor-sistema-dashboard></app-administratidor-sistema-dashboard>
<div class="habitaciones-section">
  <h2>Habitaciones</h2>

  <!-- Tabla Angular Material -->
  <div class="table-container">
    <app-snackbar></app-snackbar>
    <table mat-table [dataSource]="habitaciones" class="mat-elevation-z8" matSort>

      <!-- Columna num habitaciones -->
      <ng-container matColumnDef="Edificio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Número de habitación</th>
        <td mat-cell *matCellDef="let habitacion">{{ habitacion.Edificio }}</td>
      </ng-container>

      <!-- Columna cap camas -->
      <ng-container matColumnDef="Planta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Capacidad de camas</th>
        <td mat-cell *matCellDef="let habitacion">{{ habitacion.Planta }}</td>
      </ng-container>

      <!-- Columna plantas -->
      <ng-container matColumnDef="NumeroHabitacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Planta</th>
        <td mat-cell *matCellDef="let habitacion">{{ habitacion.NumeroHabitacion }}</td>
      </ng-container>

      <!-- Columna camas -->
      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef>Camas</th>
        <td mat-cell *matCellDef="let habitacion">
          <button mat-raised-button color="primary" (click)="toggleActualizarHabitacion(habitacion)">
            Actualizar
          </button>
          <button mat-raised-button color="warn" (click)="borrarHabitacion(habitacion.IdHabitacion)">
            Borrar
          </button>
        </td>
      </ng-container>

      <!-- Filas de la tabla -->
      <tr mat-header-row *matHeaderRowDef="['Edificio', 'Planta', 'NumeroHabitacion', 'Acciones']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['Edificio', 'Planta', 'NumeroHabitacion', 'Acciones'];"></tr>

    </table>
  </div>

</div>
