 
<div class= "contendor">
    <div class="search-container">
        <div class="lala">
            <form id="searchForm">
                <div class="searchCriteriaContainer">
                    <label for="searchCriteria">Buscar por:</label>
                </div>
                <div class="searchCriteriaItemContainer">
                  <select id="searchCriteria" name="searchCriteria" [(ngModel)]="searchCriteria">
                    <option value="id">ID</option>
                    <option value="dolencia">Dolencia</option>
                  </select>
                  <input type="text" id="searchInput" name="searchInput" placeholder="Ingresa la busqueda..." [(ngModel)]="searchInput">
                  <button type="button" (click)="searchEpisodi()">Buscar</button>

                </div>
            </form>
        </div>
        <div class="registro">
            <button id="registrarse"><a routerLink="/registro-episodi"> + Registrar Episodio</a></button>
        </div>
    </div>
    
</div>
<div class ="texto">
    <p>Llista d'Episodis Medics</p>
</div>
<div class="table-container">
    <div class="cosas">
        <table id="resultsTable">
            <thead>
                <tr>
                    <th>Id Episodi</th>
                    <th>Data Obertura</th>
                    <th>Data Tancament</th>
                    <th>Estat</th>
                    <th>Dolencia</th>
                    <th>DNI Pacient</th>
                    <th>Consultes</th>
                    <th>Ingressos</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let episodi of episodis; let i = index">
                <td>{{ episodi.id }}</td>
                <td>{{ episodi.dataObertura }}</td>
                <td>{{ episodi.dataTancament }}</td>
                <td>{{ episodi.estat }}</td>
                <td>{{ episodi.dolencia }}</td>
                <td>{{ episodi.pacientId }}</td>
                <td class="coleccio" mat-button (click)="openConsultes(episodi)">Consultes</td>
                <td class="coleccio" mat-button (click)="openIngressos(episodi)">Ingressos</td>
                <button class="ico" (click)="modificarEpisodi(episodi.id)">🔄</button>
                <button class="ico" (click)="deleteEpisodi(episodi.id)">❎</button>
              </tr>
            </tbody>
        </table>

        
    </div>
    
    <div class="pagination">
        <button id="prevPage">Anterior</button>
        <span id="pageInfo">Página 1 de X</span>
        <button id="nextPage">Siguiente</button>
    </div>
</div>


