<app-nav></app-nav>

<div class="container">
  <h2>Formulario de modificación de consulta</h2>
  <form type="submit" [formGroup]="consultaForm" (ngSubmit)="onActualice()">
    <div class="identificador">
      <div class="capzalera1">
        <label for="urgencia">Urgencia:</label>
        <select
          id="selecionUrgencia"
          ngModel
          name="selecionUrgencia"
          formControlName="urgencia"
        >
          <option value="true">Sí</option>
          <option value="false">No</option>
        </select>
      </div>
      <div class="capzalera4">
        <label for="sintomatologia"
          >Sintomatología: <span style="color: red">*</span></label
        >
        <input
          type="text"
          id="sintomatologia"
          ngModel
          name="sintomatologia"
          formControlName="sintomatologia"
          required
          [ngClass]="{
            'is-invalid':
              consultaForm.get('sintomatologia')?.touched &&
              consultaForm.get('sintomatologia')?.invalid
          }"
        />
        <div
          class="error-messages"
          *ngIf="
            consultaForm.get('sintomatologia')?.touched &&
            consultaForm.get('sintomatologia')?.invalid
          "
        >
          <small
            *ngIf="consultaForm.get('sintomatologia')?.hasError('required')"
            >Este campo es obligatorio</small
          >
        </div>
      </div>

      <div class="masInfo">
        <div class="capzalera1">
          <label for="recepta">Receta: <span style="color: red">*</span></label>
          <input
            type="text"
            id="recepta"
            ngModel
            name="recepta"
            formControlName="recepta"
            required
            [ngClass]="{
              'is-invalid':
                consultaForm.get('recepta')?.touched &&
                consultaForm.get('recepta')?.invalid
            }"
          />
          <div
            class="error-messages"
            *ngIf="
              consultaForm.get('recepta')?.touched &&
              consultaForm.get('recepta')?.invalid
            "
          >
            <small *ngIf="consultaForm.get('recepta')?.hasError('required')"
              >Este campo es obligatorio</small
            >
          </div>
        </div>
      </div>

      <div class="capzalera1">
        <label for="dniPersonal"
          >DNI del personal: <span style="color: red">*</span></label
        >
        <input
          type="text"
          id="dniPersonal"
          ngModel
          name="dniPersonal"
          formControlName="dniPersonal"
          required
          [ngClass]="{
            'is-invalid':
              (consultaForm.get('dniPersonal')?.touched &&
                consultaForm.get('dniPersonal')?.invalid) ||
              consultaForm.hasError('dniLletraIncorrect')
          }"
        />
        <div
          class="error-messages"
          *ngIf="
            consultaForm.get('dniPersonal')?.touched &&
            consultaForm.get('dniPersonal')?.invalid
          "
        >
          <small *ngIf="consultaForm.get('dniPersonal')?.hasError('required')"
            >Este campo es obligatorio</small
          >
          <small *ngIf="consultaForm.get('dniPersonal')?.hasError('minlength')"
            >Mínimo 9 carácteres</small
          >
          <small *ngIf="consultaForm.get('dniPersonal')?.hasError('pattern')"
            >Construido por 8 núm y una letra</small
          >
          <!-- <small *ngIf="consultaForm.get('dniPersonal')?.hasError('personalNotFound')">El DNI no existe</small> -->
        </div>
      </div>

      <div class="capzalera2">
        <label for="episodiMedicId"
          >Episodio médico: <span style="color: red">*</span></label
        >
        <input
          type="number"
          id="episodiMedicId"
          ngModel
          name="episodiMedicId"
          formControlName="episodiMedicId"
          required
          [ngClass]="{
            'is-invalid':
              consultaForm.get('episodiMedicId')?.touched &&
              consultaForm.get('episodiMedicId')?.invalid
          }"
        />
        <div
          class="error-messages"
          *ngIf="
            consultaForm.get('episodiMedicId')?.touched &&
            consultaForm.get('episodiMedicId')?.invalid
          "
        >
          <small
            *ngIf="consultaForm.get('episodiMedicId')?.hasError('required')"
            >Este campo es obligatorio</small
          >
          <small
            *ngIf="
              consultaForm.get('episodiMedicId')?.hasError('episodiNotFound')
            "
            >El episodio no existe</small
          >
        </div>
      </div>
    </div>
    <div
      *ngIf="consultaForm.hasError('dniLletraIncorrect')"
      class="error-messages"
    >
      <small>DNI invalido</small>
    </div>
    <button type="submit">Modificar</button>
  </form>
</div>
