<h2 mat-dialog-title>{{!editar ? 'Detalles Planta' : 'Actualizar Planta'}}</h2>
<mat-dialog-content>

  <form  [formGroup]="plantaForm" (ngSubmit)="guardar()">
    <br />
    <mat-form-field appearance="outline">
      <mat-label>Planta</mat-label>
      <input matInput formControlName="piso" required [disabled]="isReadOnly"/>
      <mat-error *ngIf="plantaForm.get('piso')?.hasError('required')">El piso es requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Capacitat habitacions</mat-label>
      <input matInput formControlName="capacitatHabitacions" [disabled]="isReadOnly"/>
    </mat-form-field>

  </form>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button *ngIf="!editar" (click)="enableEditing()">
    Editar
  </button>
  <button mat-raised-button color="primary" *ngIf="editar" [disabled]="plantaForm.invalid" (click)="guardar()">
    Guardar
  </button>
  <button mat-button mat-dialog-close>
    Cancelar
  </button>
</mat-dialog-actions>