@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.footer {
    bottom: 0;
    width: 100%;
    background-color: #f9f9f9;
    padding: 10px 0;
    margin-top: 7vh; 
    font-family: 'Montserrat', sans-serif;
     color: #333;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }

  .tablaPacientes{
    border-style:solid;
  }

  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .footer-logo img {
    max-width: 120px;
    height: auto;
  }
  
  .footer-contact h4 {
    margin-bottom: 10px;
  }
  
  .footer-bottom {
    margin-top: 10px;
    font-size: 0.9em;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
}
  
  .header-logo {
    display: flex;
    align-items: center;
  }
  
  .header-logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .header-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .header-nav {
    display: flex;
    gap: 20px;
  }

  .header-nav span {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-size: 1rem;
    transition: color 0.3s ease;
  }

  .header-nav .active {
    color: #3b83bd; /* Change this to the color you want for the active state */
  }

.diagnostico-title{
    color: black;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 20px;
}

.diagnostico-page {
    display: flex;
    flex-direction: row;
}
.diagnostico-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px; 
    margin-left: 20px;
    
}

.diagnostico-row {
    display: flex;
    flex-direction: row;  /* Alinea los elementos en fila */
    justify-content: space-between;  /* Alinea los elementos a la izquierda */
    padding: 10px;
    border-bottom: 1px solid #ccc;
    transition: transform 0.3s ease; 
    font-family: 'Roboto', sans-serif;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: 500px;
}

.diagnostico-info {
    display: flex;
    flex-direction: column;  /* Los tres primeros elementos se alinearán en columna */
    justify-content: flex-start;
    flex: 1;  /* Esto asegura que ocupe el espacio restante */
}

.diagnostico-row:hover {
    background-color: #f9f9f9;
}

.diagnostico-cell {
    padding: 2px 10px;
    flex: 1;
}

.diagnostico-button-cell {
    display: flex;
    justify-content: flex-end;  /* Alinea el botón a la derecha */
    width: 200px;  /* Asegura que el botón no ocupe más espacio del necesario */
    align-items: center;  /* Centra el botón verticalmente */
}

.diagnostico-button-cell button {
    margin-left: auto; /* Alinea el botón a la derecha */
    background-color: #3b83bd;
    color: white;
    border: none;
    border-radius: 25px; /* Hace que el botón sea redondo */
    width: 100px; /* Ajusta el ancho */
    height: 30px; /* Ajusta la altura para que sea un círculo perfecto */
    font-size: 0.8em; /* Ajusta el tamaño del texto dentro del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.diagnostico-button-cell button:hover {
    background-color: #0b5ea1;
}


.diagnostico-search{
  display: flex;
}

.diagnostico-button{
    background-color: #3b83bd;
    color: white;
    border: none;
    border-radius: 25px; /* Hace que el botón sea redondo */
    width: 50%; /* Ajusta el ancho */
    height: 30px; /* Ajusta la altura para que sea un círculo perfecto */
    font-size: 0.9em; /* Ajusta el tamaño del texto dentro del botón */
    cursor: pointer;
    margin-top: 10px;
}


.diagnostico-searchbox {
    font-family: 'Roboto', sans-serif;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: 50vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 5%;
    padding-right: 2vh;
    padding-left: 2vh;
    padding-bottom: 2vh;
    transition: transform 0.3s ease;
    margin-right: 30px;
}

.diagnostico-filterbox{
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.diagnostico-reset{
  display: flex;
  flex-direction: column;
}

.diagnostico-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 185%;
}

.diagnostico-clear-button {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  color: #ccc; /* Adjust the color as needed */
}

.diagnostico-clear-button:hover {
  color: #000; /* Adjust the hover color as needed */
}

.diagnostico-input {
    width: 175%; /* Asegura que el input ocupe todo el ancho del contenedor */
    padding: 10px 15px; /* Añade espacio interno */
    margin: 10px 0; /* Añade espacio entre los inputs */
    border: 2px solid #3b83bd; /* Cambia el color y grosor del borde */
    border-radius: 10px; /* Redondea las esquinas */
    font-size: 16px; /* Ajusta el tamaño del texto */
    background-color: #f9f9f9; /* Cambia el fondo */
    color: #333; /* Cambia el color del texto */
    outline: none; /* Quita el borde azul de enfoque */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil */
    transition: border-color 0.3s, box-shadow 0.3s; /* Suaviza las transiciones */
    font-size: 0.8em;
}

.diagnostico-input:focus {
    border-color: #0056b3; /* Cambia el color del borde al hacer foco */
    box-shadow: 0 0 8px rgba(59, 131, 189, 0.5); /* Añade un efecto al hacer foco */
}

.diagnostico-input:disabled {
    background-color: #eaeaea; /* Cambia el fondo cuando está deshabilitado */
    color: #aaa; /* Cambia el color del texto */
    cursor: not-allowed; /* Cambia el cursor */
}

.main-presentation{
    font-family: 'Monserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.main-elements {
    width: 100%;
    margin-top: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 3vw;
}
 
 
.main-element {
    font-family: 'Roboto', sans-serif;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: 20vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5%;
    padding: 2vh;
    transition: transform 0.3s ease;
}
 
 
.main-element:hover {
    transform: scale(1.05);
    cursor:pointer;
}
 
 
.main-element-negrita{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0;
}
 
.main-p{
    font-size: 0.9em;
    font-family: 'Montserrat', sans-serif;
}
 
.main-element-img{
    max-width: 20vw;
    border-radius: 5%;
}


.cita-title{
  color: black;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 20px;
  margin-bottom: 5px;
}

.cita-info{
    color: rgb(88, 85, 85);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 20px;
    margin-top: 0px;
}

.cita-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cita-button {
    width: 300px; /* Asegura que el input ocupe todo el ancho del contenedor */
    margin: 25px 0; /* Añade espacio entre los inputs */
    border: 2px solid #3b83bd; /* Cambia el color y grosor del borde */
    border-radius: 10px; /* Redondea las esquinas */
    font-size: 16px; /* Ajusta el tamaño del texto */
    background-color: #f9f9f9; /* Cambia el fondo */
    color: #3b83bd; /* Cambia el color del texto */
    outline: none; /* Quita el borde azul de enfoque */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil */
    transition: border-color 0.3s, box-shadow 0.3s; /* Suaviza las transiciones */
    font-size: 1.0em;
    cursor: pointer;
    height: 50px;
}

.cita-button:hover {
  background-color: #3b83bd; /* Cambia el fondo */
  color: #f9f9f9;

}

.cita-tuscitas{
  display: flex;
  justify-content: end;
  margin-right: 90px;
}

.cita-selectbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cita-select{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cita-opcion {
    font-family: 'Roboto', sans-serif;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 5%;
    padding-right: 2vh;
    padding-left: 2vh;
    padding-bottom: 2vh;
    transition: transform 0.3s ease;
    margin-right: 10px;
    margin-left: 20px;
}

.cita-subtitulo {
  font-family: 'Roboto', sans-serif;
  margin-left: 20px;
}

.cita-top {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cita-si {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.agenda-list {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
  flex: 1;
}

.agenda-rowbox{
  display: flex;
  flex-direction: row;
  width: 300px; /* Asegura que el input ocupe todo el ancho del contenedor */
  border: 2px solid #3b83bd; /* Cambia el color y grosor del borde */
  border-radius: 10px; /* Redondea las esquinas */
  background-color: #f9f9f9; /* Cambia el fondo */
  outline: none; /* Quita el borde azul de enfoque */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil */
  transition: border-color 0.3s, box-shadow 0.3s; /* Suaviza las transiciones */
  height: 100px;
  justify-content: space-between;
}

.agenda-info{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
}

.agenda-info p {
  margin: 5px 0; /* Margen vertical mínimo entre los párrafos */
}

.agenda-button {
  display: flex;
  align-items: center; /* Centra el icono verticalmente */
  justify-content: center; /* Opcional, centra también horizontalmente si hay más espacio */
  margin-right: 20px;
  
}

.agenda-container {
  display: flex;
  flex-direction: row;

}

.cita-info-box {
  flex: 1;
  width: 900px;
  margin-right: 30px;
  height: 300px;
  margin-top: 20px;
}

.agenda-button-cell {
  margin-left: auto; /* Alinea el botón a la derecha */
  background-color: #3b83bd;
  color: white;
  border: none;
  border-radius: 25px; /* Hace que el botón sea redondo */
  width: 100px; /* Ajusta el ancho */
  height: 30px; /* Ajusta la altura para que sea un círculo perfecto */
  font-size: 0.8em; /* Ajusta el tamaño del texto dentro del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  margin-top: 20px;
  margin-bottom: 20px;
}

.agenda-button-cell:hover {
  background-color: #0b5ea1;
}
