.container {
    width: 950px;
    height: 420px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 250px;
    margin-top: 120px;
}

.is-invalid {
    border-color: red;
  }
.error-messages {
      display: flex;
      flex-direction: column;
      color: red;
      font-size: 12px;
}  
.capzalera1, .capzalera2, .capzalera3, .capzalera4{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

input, select {
    width: 100%;  
    box-sizing: border-box;  
}

.identificador, .ubicacion, .comunicarse, .masInfo, .consulta{
    display: flex;
}
textarea {
    width: 900px;
}
.ubicacion .capzalera2 {
    width: 900px;
}

.comunicarse .capzalera3 {
    width: 800px;
}

h2 {
    margin-bottom: 20px;
    color: darkcyan;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    
}

label {
    margin-bottom: 5px;
    color: #333;
    font-family: Arial, sans-serif;
    
}

input {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    margin: auto;
    width: 20%;
    padding: 10px;
    background-color: darkcyan;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 150px;
    margin-bottom: 1px;
}

button:hover {
    background-color:#02789b;
}