<app-nav></app-nav>

<div class="container">
    <h2>Formulario de modificación de ingresos</h2>
    
    <form type="submit" [formGroup]="modiIngresForm" (ngSubmit)="onUpdate()">
        <div class= "identificador">

            <div class = "masInfo">
                <div class="capzalera1">
                    <label forx="entrada">Fecha de ingreso:</label>
                    <input type="date" id="entrada" ngModel name="dataEntrada" formControlName = "dataEntrada" required>
                </div>
            </div>

            <div class = "capzalera1">
                <label for="sortida">Fecha de salida:</label>
                <input type="date" id="sortida" ngModel name="dataSortida" formControlName="dataSortida" required>
            </div>

            <div class = "capzalera1">
                <label for="episodi">Episodio médico:</label>
                <input type="text" id="episodi" ngModel name="episodiMedicId" formControlName="episodiMedicId" required>
            </div>

            <div class = "capzalera1">
                <label for="llit">ID cama:</label>
                <input type="text" id="llit" ngModel name="llitId" formControlName="llitId" required>
            </div>
            
        </div>
        
        <button type="submit">Modificar</button>
    </form>
</div>