<h2 mat-dialog-title>{{ data.dni ? 'Actualizar empleado' : 'Agregar empleado' }}</h2>
<mat-dialog-content>
  <form [formGroup]="personalForm" (ngSubmit)="guardar()">
    <br/>
    <mat-form-field appearance="outline">
      <mat-label>DNI</mat-label>
      <input matInput formControlName="dni" required />
      <mat-error *ngIf="personalForm.get('dni')?.hasError('required')">El campo DNI es obligatorio</mat-error>
      <mat-error *ngIf="personalForm.get('dni')?.hasError('minlength')">El DNI debe tener 9 caracteres</mat-error>
      <mat-error *ngIf="personalForm.get('dni')?.hasError('maxlength')">El DNI no puede exceder 9 caracteres</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nom" required />
      <mat-error *ngIf="personalForm.get('nom')?.hasError( 'required')">El nombre es obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Especialidad</mat-label>
      <input matInput formControlName="especialitat" required />
      <mat-error *ngIf="personalForm.get('especialitat')?.hasError( 'required')">La especialización es obligatoria</mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="personalForm.invalid" (click)="guardar()">
    {{ data.dni ? 'Actualizar' : 'Guardar' }}
  </button>
</mat-dialog-actions>
