<h2 mat-dialog-title>{{ 'Actualizar Cama' }}</h2>
<mat-dialog-content>
<form [formGroup]="camaForm">
  <br />
  <mat-form-field appearance="outline">
    <mat-label>Codigo cama</mat-label>
    <input matInput formControlName="codiLlit" required [disabled]="isReadOnly"/>
    <mat-error *ngIf="camaForm.get('codiLlit')?.hasError('required')">El código de la cama es requerido</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Fuera de servicio</mat-label>
    <mat-select formControlName="foraDeServei" [disabled]="isReadOnly"> <!-- Cambiado a formControlName -->
      <mat-option [value]="true">Sí</mat-option>
      <mat-option [value]="false">No</mat-option>
    </mat-select>
    <mat-error *ngIf="camaForm.get('foraDeServei')?.hasError('required')">Selecciona su estado</mat-error>
  </mat-form-field>
  

    <mat-form-field appearance="outline">
      <mat-label>Seleccionar Habitación</mat-label>
      <mat-select  formControlName="codiHabitacio" required [disabled]="isReadOnly">
        <mat-option *ngFor="let habitacion of habitaciones" [value]="habitacion.codiHabitacio">
          {{ habitacion.codiHabitacio }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="camaForm.get('codiHabitacio')?.hasError('required')">Selecciona una habitación</mat-error>
    </mat-form-field>


    <mat-dialog-actions>
      <!-- Botón Actualizar: Solo visible si se está en modo detalles -->
      <button mat-button *ngIf="!isEditing" (click)="enableEditing()">
        Editar
      </button>

      <!-- Botón Guardar: Solo visible en modo edición -->
      <button mat-raised-button color="primary" *ngIf="isEditing" [disabled]="camaForm.invalid" (click)="guardar()">
        Guardar
      </button>

      <!-- Botón Cancelar: Siempre visible, cambia comportamiento según el modo -->
      <button mat-button (click)="cancelar()">
        Cancelar
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>

