<app-nav></app-nav>

<div class="container">
    <h2>Formulario de registro de personal</h2>
    
    <form type="submit" [formGroup]="personalForm" (ngSubmit)="onSubmit()">
        <div class= "identificador">
            
            <div class = "capzalera4">
                <label for="dni">DNI:</label> 
                <input type="text" id="dni" ngModel name="dni" formControlName="dni" required>
            </div>

            <div class = "masInfo">
                <div class="capzalera1">
                    <label for="SS">Nom:</label>
                    <input type="text" id="nom" ngModel name="nom" formControlName = "nom" required>
                </div>
            </div>

            <div class = "capzalera1">
                <label for="name">Especialidad:</label>
                <select name="Especialidad" id="Especialidad" formControlName="especialitat">
                    
                    <optgroup label="Médico general">
                    <option value="MG">Médico general</option>
                    <optgroup label="Cirujano">
                    <option value="Cirujano">Cirujano general</option>
                    <option value="Cirujano">Cirujano cardiovascular</option>
                    <option value="Cirujano">Cirujano plástico</option>
                    <option value="Cirujano">Neurocirujano</option>
                    <option value="Cirujano">Cirujano ortopédico</option>
                    <optgroup label="Especialistas">
                        <option value="Especialistas">Cardiólogo</option>
                        <option value="Especialistas">Dermatólogo</option>
                        <option value="Especialistas">Ginecólogo</option>
                        <option value="Especialistas">Neumólogo</option>
                        <option value="Especialistas">Oncólogo</option>
                        <option value="Especialistas">Pediatra</option>
                        <option value="Especialistas">Psiquiatra</option>
                        <option value="Especialistas">Traumatólogo</option>
                        <option value="Especialistas">Neurólogo</option>
                        <option value="Especialistas">Urólogo</option>
                        <option value="Especialistas">Radiólogo</option>
                        <option value="Especialistas">Anestesiólogo</option>
                        <option value="Especialistas">Endocrinólogo</option>
                        <option value="Especialistas">Gastroenterólogo</option>
                        <option value="Especialistas">Hematólogo</option>
                        <option value="Especialistas">Nefrólogo</option>
                        <option value="Especialistas">Oftalmólogo</option>
                        <option value="Especialistas">Otorrinolaringólogo</option>
                    <optgroup label="Enfermeros">
                        <option value="Enfermeros">Enfermero general</option>
                        <option value="Enfermeros">Enfermero pediátrico</option>
                        <option value="Enfermeros">Enfermero psiquiátrico</option>
                        <option value="Enfermeros">Enfermero quirúrgico</option>
                        <option value="Enfermeros">Enfermero de emergencias</option>
                        <option value="Enfermeros">Enfermero de cuidados intensivos</option>
                        <option value="Enfermeros">Enfermero geriátrico</option>
                    
                </select>
            </div>

        </div>
        
        <button type="submit">Registrar empleado</button>
    </form>
</div>