<app-nav></app-nav>

<div class="container">
    <h2>Formulario de registro de personal</h2>
    
    <form type="submit" [formGroup]="personalForm" (ngSubmit)="onSubmit()">
        <div class= "identificador">
            
            <div class = "capzalera4">
                <label for="dni">DNI:</label> 
                <input type="text" id="dni" ngModel name="dni" formControlName="dni" required>
            </div>

            <div class = "masInfo">
                <div class="capzalera1">
                    <label for="nom">Nombre:</label>
                    <input type="text" id="nom" ngModel name="nom" formControlName = "nom" required>
                </div>
            </div>

            <div class = "masInfo">
                <div class="capzalera1">
                    <label for="telefon">Teléfono:</label>
                    <input type="text" id="telefon" ngModel name="telefon" formControlName = "telefon" required>
                </div>
            </div>

            <div class = "masInfo">
                <div class="capzalera1">
                    <label for="usuariId">Nombre de usuario:</label>
                    <input type="text" id="usuariId" ngModel name="usuariId" formControlName = "usuariId" required>
                </div>
            </div>
    
           <div class = "capzalera1">
                <label for="Especialidad">Especialidad:</label>
                <select name="Especialidad" id="Especialidad" formControlName="especialitat">
                    
                    <optgroup label="Médico general">
                    <option value="MedicoGeneral">Médico general</option>
                    <optgroup label="Cirujano">
                    <option value="CirujanoGeneral">Cirujano general</option>
                    <option value="CirujanoCardiovascular">Cirujano cardiovascular</option>
                    <option value="CirujanoPlastico">Cirujano plástico</option>
                    <option value="Neurocirujano">Neurocirujano</option>
                    <optgroup label="Especialistas">
                        <option value="Cardiologo">Cardiólogo</option>
                        <option value="Dermatologo">Dermatólogo</option>
                        <option value="Ginecologo">Ginecólogo</option>
                        <option value="Neumologo">Neumólogo</option>
                        <option value="Oncologo">Oncólogo</option>
                        <option value="Pediatra">Pediatra</option>
                        <option value="Psiquiatra">Psiquiatra</option>
                        <option value="Traumatologo">Traumatólogo</option>
                        <option value="Neurologo">Neurólogo</option>
                        <option value="Urologo">Urólogo</option>
                        <option value="Radiologo">Radiólogo</option>
                        <option value="Anestesiologo">Anestesiólogo</option>
                        <option value="Oftalmologo">Oftalmólogo</option>
                        <option value="Otorrinolaringologo">Otorrinolaringólogo</option>
                                     
                </select>
            </div> 
        </div>
           <button type="submit">Registrar empleado</button>
    </form>
</div>