<div class="container">
    <h2>Formulario de modificación de consulta</h2>
    <form type="submit" [formGroup]="consultaForm" (ngSubmit)="onActualice()">
        <div class= "identificador">
            <div class = "capzalera1">
                <label for="urgencia">Urgencia:</label>
                <select id="selecionUrgencia" ngModel name="selecionUrgencia" formControlName="urgencia">
                    <option value="true">Sí</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class = "capzalera4">
                <label for="sintomatologia">Sintomatología:</label> 
                <input type="text" id="sintomatologia" ngModel name="sintomatologia" formControlName="sintomatologia" required>
            </div>

            <div class = "masInfo">
                <div class="capzalera1">
                    <label for="recepta">Receta:</label>
                    <input type="text" id="recepta" ngModel name="recepta" formControlName = "recepta" required>
                </div>
            </div>

            <div class = "capzalera1">
                <label for="personalId">DNI del personal:</label>
                <input type="text" id="personalId" ngModel name="personalId" formControlName="personalId" required>
            </div>

            <div class = "capzalera2">
                <label for="episodiMedicId">Episodio médico:</label>
                <input type="number" id="episodiMedicId" ngModel name="episodiMedicId" formControlName="episodiMedicId" required>
            </div>

            
            
        </div>
        <button type="submit">Modificar</button>
    </form>
</div>
