<app-nav></app-nav>

<div class="container">
    <h2>Formulario de modificación de personal</h2>

    <form type="submit" [formGroup]="modiPersonalForm" (ngSubmit)="onUpdate()">
        <div class="identificador">

            <div class="capzalera4">
                <label for="dni">DNI:</label>
                <input type="text" id="dni" ngModel name="dni" formControlName="dni" required>
            </div>

            <div class="masInfo">
                <div class="capzalera1">
                    <label for="Nom">Nombre:</label>
                    <input type="text" id="nom" ngModel name="nom" formControlName="nom" required>
                </div>
            </div>

            <!-- <div class="capzalera1">
                <label for="name">Especialidad:</label>
                <select name="Especialidad" id="Especialidad" formControlName="especialitat">
                    <option value="Cirujano">Cirujano</option>
                    <option value="Pediatra">Pediatra</option>
                    <option value="Odontólogo">Odontólogo</option>
                    <option value="Traumatólogo">Traumatólogo</option>
                </select>
            </div> -->

            <div class = "capzalera1">
                <label for="name">Especialidad:</label>
                <select name="Especialidad" id="Especialidad" formControlName="especialitat">
                    
                    <optgroup label="Médico general">
                    <option value="MedicoGeneral">Médico general</option>
                    <optgroup label="Cirujano">
                    <option value="CirujanoGeneral">Cirujano general</option>
                    <option value="CirujanoCardiovascular">Cirujano cardiovascular</option>
                    <option value="CirujanoPlastico">Cirujano plástico</option>
                    <option value="Neurocirujano">Neurocirujano</option>
                    <option value="CirujanoOrtopedico">Cirujano ortopédico</option>
                    <optgroup label="Especialista">
                        <option value="Cardiologo">Cardiólogo</option>
                        <option value="Dermatologo">Dermatólogo</option>
                        <option value="Ginecologo">Ginecólogo</option>
                        <option value="Neumologo">Neumólogo</option>
                        <option value="Oncologo">Oncólogo</option>
                        <option value="Pediatra">Pediatra</option>
                        <option value="Psiquiatra">Psiquiatra</option>
                        <option value="Traumatologo">Traumatólogo</option>
                        <option value="Neurologo">Neurólogo</option>
                        <option value="Urologo">Urólogo</option>
                        <option value="Radiologo">Radiólogo</option>
                        <option value="Anetesiologo">Anestesiólogo</option>
                        <option value="Endocrinologo">Endocrinólogo</option>
                        <option value="Gastroenterologo">Gastroenterólogo</option>
                        <option value="Hematologo">Hematólogo</option>
                        <option value="Nefrologo">Nefrólogo</option>
                        <option value="Ofatlmologo">Oftalmólogo</option>
                        <option value="Otorrinolaringologo">Otorrinolaringólogo</option>
                    <optgroup label="Enfermero">
                        <option value="EnfermeroGeneral">Enfermero general</option>
                        <option value="EnfermeroPediatrico">Enfermero pediátrico</option>
                        <option value="EnfermeroPsiquiatrico">Enfermero psiquiátrico</option>
                        <option value="EnfermeroQuirurgico">Enfermero quirúrgico</option>
                        <option value="EnfermeroDeEmergencias">Enfermero de emergencias</option>
                        <option value="EnfermeroDeCuidadosIntesivos">Enfermero de cuidados intensivos</option>
                        <option value="EnfermeroGeriatrico">Enfermero geriátrico</option>
                </select>
            </div>

        </div>
        <button type="submit">Modificar empleado</button>
    </form>
</div>