#grid {
  display: grid;
  grid-template-areas:
    'header header'
    'nav main'
    'nav main';

  grid-template-columns: 200px 1fr;
  grid-template-rows: 50px 1fr;
}

#nav {
  grid-area: nav;
}

#main {
  grid-area: main;
  margin-top: 15px;
}

.medico-inicio {
  margin-top: 70px; /* Ajusta según la altura del header */
  margin-left: 220px; /* Ajusta según el ancho del sidenav */
  padding: 20px;
}
