<div class="popup-content">
    <h2>Consultes</h2>
    <table id="resultsTable">
      <thead>
          <tr>
              <th>Id Consulta</th>
              <th>Urgencia</th>
              <th>Sintomatologia</th>
              <th>Recepta</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let consulta of data.consultes; let i = index">
              <td>{{ consulta.id }}</td>
              <td>{{ consulta.urgencia }}</td>
              <td>{{ consulta.sintomatologia }}</td>  
              <td>{{ consulta.recepta }}</td>
            </tr>
      </tbody>
    </table>
    </div>