<div class="dashboard-layout">
  <aside class="sidebar">
    <ul>
      <li><a [routerLink]="['/inicio/administrador-sistema/camas']" routerLinkActive="active">Camas</a></li>
      <li><a [routerLink]="['/inicio/administrador-sistema/consultas']" routerLinkActive="active">Consultas</a></li>
      <li><a [routerLink]="['/inicio/administrador-sistema/episodis-medics']" routerLinkActive="active">Episodis Medics</a></li>
      <li><a [routerLink]="['/inicio/administrador-sistema/habitaciones']" routerLinkActive="active">Habitaciones</a></li>
      <li><a [routerLink]="['/inicio/administrador-sistema/ingresos']" routerLinkActive="active">Ingresos</a></li>
      <li><a [routerLink]="['/inicio/administrador-sistema/roles']" routerLinkActive="active">Roles (*)</a></li>
      <li><a [routerLink]="['/inicio/administrador-sistema/usuarios']" routerLinkActive="active">Usuarios</a></li>
      <li><a [routerLink]="['/inicio/administrador-sistema/pacientes']" routerLinkActive="active">Pacientes</a></li>
      <li><a [routerLink]="['/inicio/administrador-sistema/plantes']" routerLinkActive="active">Plantes</a></li>
      <li><a [routerLink]="['/inicio/administrador-sistema/metges']" routerLinkActive="active">Medicos</a></li>

    </ul>
  </aside>
</div>
