
    
    
    <h1>ESTRUCTURA DE LA BASE DE DATOS</h1>
    

    <section>
        <div class="feature">
            <h2>SEGURIDAD Y ESCALABILIDAD</h2>
            <p>Nuestra aplicación de gestión hospitalaria, basada en PostgreSQL, está diseñada para satisfacer las necesidades de los hospitales modernos. PostgreSQL maneja eficientemente grandes volúmenes de datos y ofrece múltiples capas de seguridad, incluyendo cifrado, autenticación robusta y control de acceso granular, asegurando la protección de los datos de los pacientes en todo momento.
            </p>
        </div>
         <div class="feature">
          <img src="assets/DreamT.png" id = "bbdd">
         </div>
    </section>

    <footer>
        <p>&copy; 2024 Dream Team. Todos los derechos reservados.</p>
    </footer>
