
<div class= "contendor">
    <div class="search-container">
        <div class="lala">
            <form id="searchForm">
                <div class="searchCriteriaContainer">
                    <label for="searchCriteria">Buscar por:</label>
                </div>
                <div class="searchCriteriaItemContainer">
                    <select id="searchCriteria" name="searchCriteria">
                        <option value="name">Nombre</option>
                        <option value="dni">DNI</option>
                        <option value="ss">SS</option>
                        <option value="id">ID</option>
                    </select>
                    <input type="text" id="searchInput" name="searchInput" placeholder="Ingresa la busqueda...">
                    <button type="submit">Buscar</button>
                    
                </div>
            </form>
        </div>
        <div class="registro">
            <button id="registrarse"><a routerLink="/registro"> + Registrar paciente</a></button>
        </div>
    </div>
    
</div>
<div class ="texto">
    <p>Lista de Pacientes</p>
</div>
<div class="table-container">
    <div class="cosas">
        <table id="resultsTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Sexo</th>
                    <th>Estado</th>
                    <th>Cama Asignada</th>
                    <th>Habitación Asignada</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th><a routerLink="/ficha">272828</a></th>
                    <th><a routerLink="/ficha">Helena García</a></th>
                    <th><a routerLink="/ficha">Femenino</a></th>
                    <th><a routerLink="/ficha">Baja</a></th>
                    <th><a routerLink="/ficha">102A</a></th>
                    <th><a routerLink="/ficha">102</a></th>
                </tr>
                <tr>
                    <th><a routerLink="/ficha">393029</a></th>
                    <th><a routerLink="/ficha">Kilian Morillas</a></th>
                    <th><a routerLink="/ficha">Masculino</a></th>
                    <th><a routerLink="/ficha">Alta</a></th>
                    <th><a routerLink="/ficha">----</a></th>
                    <th><a routerLink="/ficha">---</a></th>
                </tr>
                <tr>
                    <th><a routerLink="/ficha">292922</a></th>
                    <th><a routerLink="/ficha">Naiara García</a></th>
                    <th><a routerLink="/ficha">Femenino</a></th>
                    <th><a routerLink="/ficha">Baja</a></th>
                    <th><a routerLink="/ficha">344B</a></th>
                    <th><a routerLink="/ficha">344</a></th>
                </tr>
            </tbody>
        </table>

        <div class = "eliminar">
            <button id="eliminarse">Eliminar</button>
            <button id="eliminarse">Eliminar</button>
            <button id="eliminarse">Eliminar</button>
        </div>
    </div>
    
    <div class="pagination">
        <button id="prevPage">Anterior</button>
        <span id="pageInfo">Página 1 de X</span>
        <button id="nextPage">Siguiente</button>
    </div>
</div>

<script>
    const btn = document.getElementById('registrarse');
    const contenido = document.getElementById('container');

    btn.addEventListener('click', () => {
            
            if (contenido.style.display === 'none' || contenido.style.display === '') {
                contenido.style.display = 'block';
                btn.style.display ='none';
            }
        });
</script>
