<app-nav></app-nav>
<div class= "contendor">
    
    <div class="search-container">

        <div class="lala">
            <form id="searchForm">
                <div class="searchCriteriaContainer">
                    <label for="searchCriteria">Buscar por:</label>
                </div>
                <div class="searchCriteriaItemContainer">
                    <select id="searchCriteria" name="searchCriteria" [(ngModel)]="searchCriteria">
                        <option value="idLlit">ID cama</option>
                        <option value="ocupat">Ocupada</option>
                        <option value="idHabitacion">ID habitación</option>
                    </select>
                    <input type="text" id="searchInput" name="searchInput" placeholder="Ingresa la búsqueda" [(ngModel)]="searchInput">
                    <button type="button" (click)="searchLlit()">Buscar</button>
                </div>
            </form>
        </div>
        <div class="registro">
            <button id="registrarse"><a routerLink="/registro-llit"> + Registrar cama</a></button>
        </div>
    </div>
    
</div>
<div class ="texto">
    <p>Lista de camas</p>
</div>
<div class="table-container">
    <div class="cosas">
        <table id="resultsTable">
            <thead>
                <tr>
                    <th>ID cama</th>
                    <th>Ocupada</th>
                    <th>Fuera de servicio</th>
                    <th>ID de habitación</th>
                    <th>Ingresos</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let llit of pagedLlits">
                    <td>{{ llit.codiLlit }}</td>
                    <td>{{ llit.ocupat }}</td>
                    <td>{{ llit.foraDeServei }}</td>  
                    <td>{{ llit.habitacioId }}</td>
                    <td class = "coleccio" mat-button (click)="openIngressos(llit)">Ingresos</td>
                    <div class="botones">
                        <button class= "ico" (click)="modificarLlit(llit.codiLlit)" id = "modificar">🔄</button>
                        <button class= "ico" (click)="deleteLlit(llit.codiLlit)" id = "eliminar">❎</button>
                    </div>
                  </tr>
            </tbody>
        </table>

        
    </div>
    
    <div class="pagination">
        <button id="firstPage" (click)="firstPage()" [disabled]="currentPage ===1">&lt;&lt;</button>
        <button (click) = "previousPage()" id="prevPage" [disabled]="currentPage === 1">Anterior</button>
        <span id="pageInfo">Página {{currentPage}} de {{totalPages}}</span>
        <button (click) = "nextPage()" id="nextPage" [disabled]="currentPage === totalPages">Siguiente</button>
        <button id="lastPage" (click)="lastPage()" [disabled]="currentPage ===totalPages">&gt;&gt;</button>
    </div>
</div>


