
<div class= "contendor">
    <div class="search-container">
        <div class="lala">
            <form id="searchForm">
                <div class="searchCriteriaContainer">
                    <label for="searchCriteria">Buscar por:</label>
                </div>
                <div class="searchCriteriaItemContainer">
                    <select id="searchCriteria" name="searchCriteria" [(ngModel)]="searchCriteria">
                        <option value="idLlit">Id llit</option>
                        <option value="ocupat">Ocupat</option>
                        <option value="idHabitacion">Id habitación</option>
                    </select>
                    <input type="text" id="searchInput" name="searchInput" placeholder=" Ingresa la busqueda..." [(ngModel)]="searchInput">
                    <button type="button" (click)="searchLlit()">Buscar</button>
                    
                </div>
            </form>
        </div>
        <div class="registro">
            <button id="registrarse"><a routerLink="/registro-llit"> + Registrar Llits</a></button>
        </div>
    </div>
    
</div>
<div class ="texto">
    <p>Llista de Llits</p>
</div>
<div class="table-container">
    <div class="cosas">
        <table id="resultsTable">
            <thead>
                <tr>
                    <th>Id Llit</th>
                    <th>Ocupat</th>
                    <th>Fora de Servei</th>
                    <th>Id Habitacio</th>
                    <th>Ingressos</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let llit of pagedLlits">
                    <td>{{ llit.codiLlit }}</td>
                    <td>{{ llit.ocupat }}</td>
                    <td>{{ llit.foraDeServei }}</td>  
                    <td>{{ llit.habitacioId }}</td>
                    <td class = "coleccio" mat-button (click)="openIngressos(llit)">Ingressos</td>
                    <div class="botones">
                        <button class= "ico" (click)="modificarLlit(llit.codiLlit)" id = "modificar">🔄</button>
                        <button class= "ico" (click)="deleteLlit(llit.codiLlit)" id = "eliminar">❎</button>
                    </div>
                  </tr>
            </tbody>
        </table>

        
    </div>
    
    <div class="pagination">
        <button (click) = "previousPage()" id="prevPage" [disabled]="currentPage === 1">Anterior</button>
        <span id="pageInfo">Página {{currentPage}} de {{totalPages}}</span>
        <button (click) = "nextPage()" id="nextPage" [disabled]="currentPage === totalPages">Siguiente</button>
    </div>
</div>


