<app-nav></app-nav>

<div class="container">
  <h2>Formulario de modificación de pacientes</h2>

  <form type="submit" [formGroup]="modiPacientForm" (ngSubmit)="onUpdate()">
    <div class="identificador">
      <div class="capzalera4">
        <label for="dni">DNI: <span style="color: red">*</span></label>
        <input
          type="text"
          id="dni"
          ngModel
          name="dni"
          formControlName="dni"
          required
          [ngClass]="{
            'is-invalid':
              (modiPacientForm.get('dni')?.touched &&
                modiPacientForm.get('dni')?.invalid) ||
              modiPacientForm.hasError('dniLletraIncorrect')
          }"
        />
        <div
          class="error-messages"
          *ngIf="
            modiPacientForm.get('dni')?.touched &&
            modiPacientForm.get('dni')?.invalid
          "
        >
          <small *ngIf="modiPacientForm.get('dni')?.hasError('required')"
            >Este campo es obligatorio</small
          >
          <small *ngIf="modiPacientForm.get('dni')?.hasError('minlength')"
            >Mínimo 9 carácteres</small
          >
          <small *ngIf="modiPacientForm.get('dni')?.hasError('pattern')"
            >Construido por 8 núm y una letra</small
          >
          <small
            *ngIf="modiPacientForm.get('dni')?.hasError('pacientIdExistes')"
            >El DNI ya existe</small
          >
        </div>
      </div>

      <div class="capzalera1">
        <label for="SS"
          >Tarjeta sanitaria: <span style="color: red">*</span></label
        >
        <input
          type="text"
          id="SS"
          ngModel
          name="SS"
          formControlName="numSS"
          required
          [ngClass]="{
            'is-invalid':
              modiPacientForm.get('numSS')?.touched &&
              modiPacientForm.get('numSS')?.invalid
          }"
        />
        <div
          class="error-messages"
          *ngIf="
            modiPacientForm.get('numSS')?.touched &&
            modiPacientForm.get('numSS')?.invalid
          "
        >
          <small *ngIf="modiPacientForm.get('numSS')?.hasError('required')"
            >Este campo es obligatorio</small
          >
          <small *ngIf="modiPacientForm.get('numSS')?.hasError('minlength')"
            >Mínimo 15 carácteres</small
          >
          <small *ngIf="modiPacientForm.get('numSS')?.hasError('maxlength')"
            >Máximo 15 carácteres</small
          >
          <small *ngIf="modiPacientForm.get('numSS')?.hasError('pattern')"
            >Construido por 4 letras y 11 números</small
          >
          <small
            *ngIf="modiPacientForm.get('numSS')?.hasError('pacientSSExistes')"
            >El num SS ya existe</small
          >
        </div>
      </div>

      <div class="capzalera1">
        <label for="name">Nombre: <span style="color: red">*</span></label>
        <input
          type="text"
          id="name"
          ngModel
          name="name"
          formControlName="nom"
          required
          [ngClass]="{
            'is-invalid':
              modiPacientForm.get('nom')?.touched &&
              modiPacientForm.get('nom')?.invalid
          }"
        />
        <div
          class="error-messages"
          *ngIf="
            modiPacientForm.get('nom')?.touched &&
            modiPacientForm.get('nom')?.invalid
          "
        >
          <small *ngIf="modiPacientForm.get('nom')?.hasError('required')"
            >Este campo es obligatorio</small
          >
        </div>
      </div>

      <div class="capzalera1">
        <label for="name"
          >Primer apellido: <span style="color: red">*</span></label
        >
        <input
          type="text"
          id="cognom1"
          ngModel
          name="cognom1"
          formControlName="cognom1"
          required
        />
      </div>

      <div class="capzalera1">
        <label for="name"
          >Segundo apellido: <span style="color: red">*</span></label
        >
        <input
          type="text"
          id="cognom2"
          ngModel
          name="cognom2"
          formControlName="cognom2"
          required
        />
      </div>

      <div class="capzalera1">
        <label for="sexo">Sexo: <span style="color: red">*</span></label>
        <select
          id="selecionSexe"
          ngModel
          name="selecionSexe"
          formControlName="sexe"
          [ngClass]="{
            'is-invalid':
              modiPacientForm.get('sexe')?.touched &&
              modiPacientForm.get('sexe')?.invalid
          }"
        >
          <option value="F">Femenino</option>
          <option value="M">Masculino</option>
        </select>
        <div
          class="error-messages"
          *ngIf="
            modiPacientForm.get('sexe')?.touched &&
            modiPacientForm.get('sexe')?.invalid
          "
        >
          <small *ngIf="modiPacientForm.get('sexe')?.hasError('required')"
            >Este campo es obligatorio</small
          >
        </div>
      </div>

      <div class="capzalera1">
        <label for="name"
          >Fecha de nacimiento: <span style="color: red">*</span></label
        >
        <input
          type="date"
          id="birthDay"
          ngModel
          name="birthDay"
          formControlName="birthDay"
          required
        />
      </div>
    </div>
    <div
      *ngIf="modiPacientForm.hasError('dniLletraIncorrect')"
      class="error-messages"
    >
      <small>DNI inválido</small>
    </div>
    <button type="submit">Modificar</button>
  </form>
</div>
